.address-11 {
  letter-spacing: 0;
  margin-left: 15px;
  min-height: 18px;
  min-width: 48px;
  mix-blend-mode: normal;
  text-align: right;
}
.art-work-title-5 {
  align-self: center;
  letter-spacing: 0;
  margin-left: 3px;
  margin-top: 16px;
  min-height: 23px;
  min-width: 296px;
  mix-blend-mode: normal;
  width: 296px;
}
.flex-row-46 {
  align-items: flex-end;
  display: flex;
  margin-left: 17px;
  margin-top: 8px;
  min-width: 133px;
}
.group-435 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 52px;
  min-height: 454px;
  position: absolute;
  top: 3197px;
  width: 327px;
}
.group-435.group-436 {
  left: 391px;
}
.group-435.group-437 {
  left: 730px;
}
.group-435.group-438 {
  left: 1069px;
}
.group-435.group-439 {
  top: 3675px;
}
.group-435.group-439 .overlap-group-13 {
  background-color: var(--cararra);
}
.group-435.group-440 {
  left: 391px;
  top: 3675px;
}
.group-435.group-441 {
  left: 730px;
  top: 3675px;
}
.group-435.group-441 .overlap-group-13 {
  background-position: unset;
  background-size: 100% 100%;
}
.group-435.group-442 {
  left: 1069px;
  top: 3675px;
}
.group-435.group-444 {
  left: 1069px;
  top: 723px;
}
.group-435.group-447 {
  left: 730px;
  top: 1269px;
}
.group-435.group-448 {
  left: 391px;
  top: 1269px;
}
.line-118-8 {
  height: 19px;
  margin-left: 13px;
  width: 1px;
}
.number-16 {
  letter-spacing: 0;
  margin-top: 2px;
  min-height: 18px;
  min-width: 19px;
  mix-blend-mode: normal;
  text-align: right;
}
.overlap-group-13 {
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 319px;
  justify-content: flex-end;
  min-width: 319px;
  padding: 16px;
  position: relative;
}
.x02-eth-4 {
  letter-spacing: 0;
  min-height: 18px;
  min-width: 55px;
  mix-blend-mode: normal;
}
