.community {
  letter-spacing: 0.8px;
  line-height: 35px;
  margin-left: 22px;
  min-height: 35px;
  min-width: 107px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
}
.connect-wallet {
  letter-spacing: 0.8px;
  line-height: 35px;
  margin-left: 13px;
  min-height: 35px;
  min-width: 132px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
}
.create {
  letter-spacing: 0.8px;
  line-height: 35px;
  min-height: 35px;
  min-width: 58px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
}
.ellipse-2 {
  align-self: center;
  background-color: var(--mercury);
  border-radius: 22.5px;
  height: 45px;
  mix-blend-mode: normal;
  width: 45px;
}
.ellipse-78 {
  border-radius: 7.5px;
  height: 15px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 15px;
}
.explore {
  letter-spacing: 0.8px;
  line-height: 35px;
  margin-left: 182px;
  min-height: 35px;
  min-width: 79px;
  mix-blend-mode: normal;
  text-align: right;
  white-space: nowrap;
}
.flex-col-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 48px;
  min-height: 46px;
  width: 1243px;
}
.flex-row-15 {
  align-items: center;
  display: flex;
  min-width: 1243px;
}
.group-204 {
  align-items: flex-end;
  display: flex;
  height: 19px;
  margin-top: 4px;
  min-width: 17px;
}
.group-3-1 {
  align-items: flex-start;
  display: flex;
  margin-left: 47px;
  min-width: 122px;
}
.group-454-1 {
  align-items: flex-start;
  display: flex;
  margin-left: 22px;
  min-width: 195px;
}
.header-2 {
  align-items: flex-start;
  display: flex;
  height: 135px;
  margin-left: 1px;
  min-width: 1448px;
  padding: 44px 53px;
}
.learn {
  letter-spacing: 0.8px;
  line-height: 35px;
  margin-left: 22px;
  min-height: 35px;
  min-width: 59px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
}
.line-1 {
  height: 31px;
  margin-left: 45px;
  width: 1px;
}
.line-117 {
  height: 1px;
  width: 477px;
}
.line-67 {
  height: 8px;
  left: 10px;
  position: absolute;
  top: 12px;
  width: 8px;
}
.overlap-group1-11 {
  height: 20px;
  margin-bottom: -1px;
  position: relative;
  width: 18px;
}
.overlap-group2-6 {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 25px;
  display: flex;
  height: 45px;
  justify-content: flex-end;
  min-width: 120px;
  padding: 4px 30px;
}
.overlap-group3-4 {
  align-items: flex-start;
  border-radius: 25px;
  display: flex;
  height: 45px;
  min-width: 193px;
  padding: 4px 13px;
}
.text-9 {
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 16px;
  margin-top: 4px;
  min-height: 35px;
  min-width: 306px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.vector-5 {
  align-self: center;
  height: 18px;
  margin-bottom: 1px;
  mix-blend-mode: normal;
  width: 18px;
}
