.burnt-logo {
  height: 36px;
  margin-bottom: 3px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 178px;
}
.community-2 {
  letter-spacing: 0.8px;
  line-height: 35px;
  margin-left: 22px;
  min-height: 35px;
  min-width: 107px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
}
.connect-wallet-3 {
  align-items: flex-start;
  border: none;
  cursor: pointer;
  display: flex;
  margin-left: 22px;
  min-width: 195px;
  z-index: 99;
  background-color: transparent;
}
.connect-wallet-4 {
  letter-spacing: 0.8px;
  line-height: 35px;
  margin-left: 13px;
  min-height: 35px;
  min-width: 132px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
}
.create-2 {
  align-items: flex-start;
  border: none;
  cursor: pointer;
  display: flex;
  margin-left: 47px;
  min-width: 122px;
  z-index: 99;
  background-color: transparent;
}
.create-3 {
  letter-spacing: 0.8px;
  line-height: 35px;
  min-height: 35px;
  min-width: 58px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
}
.explore-2 {
  letter-spacing: 0.8px;
  line-height: 35px;
  margin-left: 434px;
  min-height: 35px;
  min-width: 79px;
  mix-blend-mode: normal;
  text-align: right;
  white-space: nowrap;
}
.flex-col-10 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  min-height: 670px;
  width: 206px;
}
.flex-col-11 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 31px;
  min-height: 670px;
  width: 206px;
}
.flex-col-12 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 103px;
  margin-left: 20px;
  min-height: 670px;
  width: 206px;
}
.flex-col-13 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 164.5px;
  min-height: 598px;
  width: 206px;
}
.flex-col-14 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 31px;
  min-height: 670px;
  width: 206px;
}
.fundraising-2 {
  height: 152px;
  left: 264px;
  position: absolute;
  top: 0;
  width: 272px;
}
.group-987 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  height: 206px;
  left: 0;
  min-width: 206px;
  position: absolute;
  top: 0;
}
.header-4 {
  height: 135px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 1440px;
}
.home-background {
  align-items: center;
  display: flex;
  height: 1113px;
  left: 53px;
  min-width: 1336px;
  opacity: 0.7;
  position: absolute;
  top: 44px;
}
.home-blue-tint-mask {
  height: 732px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 177px;
  width: 1440px;
}
.home-center-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 279px;
  min-height: 645px;
  position: absolute;
  top: 177px;
  width: 888px;
}
.home-divider {
  height: 1px;
  margin-right: 4px;
  margin-top: 27px;
  width: 884px;
}
.home-image1 {
  height: 206px;
  margin-top: 26px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 206px;
}
.home-transparent-mask {
  height: 909px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 1440px;
}
.homepage {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 909px;
  mix-blend-mode: normal;
  overflow: hidden;
  width: 1440px;
}
.image1 {
  height: 164px;
  width: 206px;
}
.learn-2 {
  letter-spacing: 0.8px;
  line-height: 35px;
  margin-left: 22px;
  min-height: 35px;
  min-width: 59px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
}
.link-icon-1 {
  align-self: center;
  height: 18px;
  margin-bottom: 1px;
  mix-blend-mode: normal;
  width: 18px;
}
.mask-group-2 {
  height: 206px;
  width: 206px;
}
.nav-bar {
  align-items: center;
  display: flex;
  height: 45px;
  left: 57px;
  min-width: 1338px;
  position: absolute;
  top: 45px;
}
.nav-bar-divider-1 {
  height: 31px;
  margin-left: 45px;
  width: 1px;
}
.nf-ts-1 {
  height: 152px;
  left: 0;
  position: absolute;
  top: 0;
  width: 272px;
}
.overlap-group-12 {
  background-color: var(--cararra);
  background-position: 50% 50%;
  background-size: cover;
  height: 206px;
  margin-top: 26px;
  width: 206px;
}
.overlap-group-13 {
  align-items: center;
  background-color: var(--cararra);
  display: flex;
  height: 206px;
  margin-top: 26px;
  min-width: 206px;
}
.overlap-group-14 {
  background-color: var(--cararra);
  background-position: 50% 50%;
  background-size: cover;
  height: 206px;
  width: 206px;
}
.overlap-group-15 {
  height: 1157px;
  position: relative;
  width: 1441px;
}
.overlap-group1-15 {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 25px;
  display: flex;
  height: 45px;
  justify-content: flex-end;
  min-width: 120px;
  padding: 4px 30px;
}
.overlap-group10-1 {
  background-color: var(--cararra);
  background-size: 100% 100%;
  height: 206px;
  width: 206px;
}
.overlap-group13 {
  height: 152px;
  margin-right: 6px;
  margin-top: 57px;
  position: relative;
  width: 800px;
}
.overlap-group2-8 {
  background-color: var(--cararra);
  height: 206px;
  position: relative;
  width: 206px;
}
.overlap-group2-9 {
  align-items: flex-start;
  border-radius: 25px;
  display: flex;
  height: 45px;
  min-width: 193px;
  padding: 4px 13px;
}
.overlap-group5-3 {
  align-items: flex-start;
  background-color: var(--cararra);
  display: flex;
  height: 206px;
  min-width: 206px;
}
.rectangle-711 {
  height: 190px;
  margin-top: 34px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 206px;
}
.rectangle-714 {
  background-color: var(--cararra);
  height: 206px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 206px;
}
.rectangle-717 {
  background-color: var(--cararra);
  height: 206px;
  margin-top: 34px;
  mix-blend-mode: normal;
  width: 206px;
}
.rectangle-718 {
  background-color: var(--cararra);
  height: 206px;
  margin-top: 26px;
  mix-blend-mode: normal;
  width: 206px;
}
.rectangle-719 {
  height: 61px;
  margin-top: 98px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 206px;
}
.rectangle-722 {
  height: 15px;
  width: 26px;
}
.rectangle-759-1 {
  background-color: var(--cultured-pearl);
  height: 206px;
  mix-blend-mode: multiply;
  width: 206px;
}
.rectangle-763 {
  height: 164px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 206px;
}
.rectangle-765 {
  height: 205px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 205px;
}
.rectangle-769 {
  height: 61px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 206px;
}
.rectangle-770 {
  height: 190px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 206px;
}
.scroll-down-button {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 24px;
  display: flex;
  height: 48px;
  margin-right: 6px;
  margin-top: 40px;
  min-width: 48px;
  padding: 12.8px 11px;
}
.synthetics-2 {
  height: 152px;
  left: 528px;
  position: absolute;
  top: 0;
  width: 272px;
}
.text-13 {
  letter-spacing: 0.8px;
  line-height: 35px;
  margin-right: 3px;
  margin-top: 44px;
  min-height: 35px;
  min-width: 155px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
}
.text-14 {
  color: var(--black);
  font-family: var(--font-family-mulish-semibold);
  font-size: var(--font-size-xxxxl);
  font-weight: 600;
  height: 240px;
  letter-spacing: 0.5px;
  margin-right: 3px;
  min-height: 240px;
  min-width: 841px;
  mix-blend-mode: normal;
  text-align: center;
  width: 841px;
}
