.ellipse-5 {
  background-color: var(--bon-jour);
  border-radius: 11px;
  height: 22px;
  mix-blend-mode: normal;
  width: 22px;
}
.ellipse-5-1 {
  background-color: var(--bon-jour);
  border-radius: 11px;
  height: 22px;
  mix-blend-mode: normal;
  width: 22px;
}
.group-749 {
  align-items: center;
  background-color: var(--nobel);
  border-radius: 32px;
  display: flex;
  height: 24px;
  margin-top: 42px;
  min-width: 48px;
  padding: 0 2px;
}
.group-749-1 {
  align-items: center;
  background-color: var(--nobel);
  border-radius: 32px;
  display: flex;
  height: 24px;
  margin-top: 42px;
  min-width: 48px;
  padding: 0 2px;
}
.group-749.group-928 {
  margin-top: 39px;
}
.group-749.group-928-1 {
  margin-top: 39px;
}
.group-749.group-945-1 {
  margin-bottom: 18px;
  margin-left: 200px;
  margin-top: unset;
}
