.accordion-black {
  align-self: center;
  background-size: 100% 100%;
  height: 12px;
  margin-right: 3px;
  width: 12px;
}
.accordion-black-1 {
  background-size: 100% 100%;
  height: 12px;
  margin-bottom: 0;
  width: 12px;
}
.add-property {
  letter-spacing: 0.7px;
  margin-left: 12px;
  min-height: 18px;
  min-width: 100px;
  mix-blend-mode: normal;
}
.address {
  letter-spacing: 0;
  margin-left: 15px;
  min-height: 18px;
  min-width: 39px;
  mix-blend-mode: normal;
}
.auction {
  color: var(--quick-silver);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-weight: 800;
  letter-spacing: 0;
  min-height: 18px;
  min-width: 68px;
  mix-blend-mode: normal;
}
.choose-collection {
  left: 281px;
  letter-spacing: 0.7px;
  mix-blend-mode: normal;
  position: absolute;
  top: 691px;
}
.choose-file {
  color: #fa6600;
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-weight: 800;
  letter-spacing: 0.7px;
  min-height: 18px;
  min-width: 83px;
  mix-blend-mode: normal;
  text-align: right;
}
.create-item {
  color: var(--white);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-l);
  font-weight: 800;
  letter-spacing: 0.8px;
  line-height: 35px;
  min-height: 35px;
  min-width: 100px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
}
.crypto-wheel {
  align-self: center;
  color: var(--quick-silver);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xl);
  font-weight: 800;
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 16px;
  min-height: 23px;
  min-width: 296px;
  mix-blend-mode: normal;
  width: 296px;
}
.description {
  letter-spacing: 0.7px;
  min-height: 18px;
  min-width: 85px;
  mix-blend-mode: normal;
}
.desktop-44 {
  background-color: var(--white);
  height: 1432px;
  mix-blend-mode: normal;
  position: relative;
  width: 1440px;
}
.eg-crypto-wheel {
  left: 275px;
  letter-spacing: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1010px;
}
.eg-crypto-wheel-1 {
  letter-spacing: 1px;
  margin-left: 2px;
  margin-top: 6px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.eg-lorem-ipsum {
  letter-spacing: 1px;
  margin-left: 2px;
  margin-top: 6px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.ellipse-2 {
  background-color: #e5e5e5;
  border-radius: 22.5px;
  height: 45px;
  mix-blend-mode: normal;
  width: 45px;
}
.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 42px;
  width: 70px;
}
.flex-row {
  align-items: flex-start;
  display: flex;
  height: 1170px;
  left: 842px;
  min-width: 443px;
  position: absolute;
  top: 189px;
}
.flex-row-1 {
  align-items: flex-end;
  display: flex;
  margin-left: 17px;
  margin-top: 8px;
  min-width: 137px;
}
.flex-row-2 {
  align-items: flex-start;
  display: flex;
  height: 18px;
  margin-left: 2px;
  min-width: 165px;
}
.flex-row-3 {
  align-items: flex-end;
  display: flex;
  height: 42px;
  margin-left: 2px;
  min-width: 198px;
}
.go-back {
  letter-spacing: 0.8px;
  margin-left: 11px;
  min-height: 20px;
  min-width: 71px;
  mix-blend-mode: normal;
}
.group-206 {
  align-items: flex-start;
  display: flex;
  height: 11px;
  margin-top: 1px;
  min-width: 16px;
}
.group-206-1 {
  align-items: flex-start;
  display: flex;
  height: 10px;
  margin-bottom: 0.5px;
  margin-left: 10px;
  min-width: 15px;
  transform: rotate(-180deg);
}
.group-449 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 112px;
  margin-top: 19px;
  min-height: 491px;
  width: 329px;
}
.group-454 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-left: 1197px;
  min-width: 47px;
}
.group-641 {
  align-items: flex-start;
  display: flex;
  height: 80px;
  left: 281px;
  min-width: 153px;
  position: absolute;
  top: 726px;
}
.group-923 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 279px;
  min-height: 50px;
  position: absolute;
  top: 395px;
  width: 436px;
}
.group-924 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 279px;
  min-height: 50px;
  position: absolute;
  top: 477px;
  width: 438px;
}
.group-925 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 279px;
  min-height: 50px;
  position: absolute;
  top: 559px;
  width: 211px;
}
.group-926 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 504px;
  min-height: 50px;
  position: absolute;
  top: 559px;
  width: 209px;
}
.group-927 {
  align-items: center;
  display: flex;
  height: 18px;
  left: 281px;
  min-width: 124px;
  position: absolute;
  top: 641px;
}
.group-930 {
  align-items: flex-start;
  display: flex;
  height: 45px;
  left: 563px;
  min-width: 150px;
  position: absolute;
  top: 1294px;
}
.group-932 {
  align-items: center;
  display: flex;
  height: 20px;
  left: 146px;
  min-width: 99px;
  position: absolute;
  top: 58px;
}
.group-944 {
  align-items: center;
  align-self: center;
  display: flex;
  height: 18px;
  margin-left: 8px;
  margin-top: 16px;
  min-width: 110px;
}
.header {
  align-items: center;
  display: flex;
  height: 135px;
  justify-content: flex-end;
  left: 0;
  min-width: 1440px;
  padding: 44px 51.7px;
  position: absolute;
  top: 0;
}
.icon-material-navigate-next {
  height: 8px;
  left: 685px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1015px;
  width: 12px;
}
.instant-sale-price {
  left: 275px;
  letter-spacing: 0.7px;
  mix-blend-mode: normal;
  position: absolute;
  top: 944px;
}
.line-118 {
  height: 19px;
  margin-left: 13px;
  width: 1px;
}
.line-125 {
  height: 1px;
  margin-top: 7px;
  width: 432px;
}
.line-125-1 {
  height: 1px;
  margin-top: 7px;
  width: 205px;
}
.line-125-2 {
  height: 1px;
  left: 273px;
  position: absolute;
  top: 1036px;
  width: 432px;
}
.line-126 {
  height: 1170px;
  width: 1px;
}
.line-127 {
  height: 1px;
  left: 273px;
  position: absolute;
  top: 1199px;
  width: 432px;
}
.line-35 {
  height: 3px;
  left: 3px;
  position: absolute;
  top: 5px;
  width: 15px;
}
.line-35-1 {
  height: 2px;
  left: 2px;
  position: absolute;
  top: 6px;
  transform: rotate(180deg);
  width: 15px;
}
.motorcycles {
  color: var(--black);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  height: 48px;
  left: 276px;
  letter-spacing: 0;
  line-height: 48px;
  mix-blend-mode: normal;
  position: absolute;
  top: 134px;
  white-space: nowrap;
}
.new-collection {
  color: var(--black);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-s);
  font-weight: 600;
  letter-spacing: 0;
  margin-top: 12px;
  min-height: 15px;
  min-width: 111px;
  mix-blend-mode: normal;
  text-align: center;
  width: 111px;
}
.no-bid-yet {
  letter-spacing: 0;
  margin-left: 17px;
  margin-top: 8px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.number {
  letter-spacing: 1px;
  margin-top: 6px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.number-1 {
  letter-spacing: 1px;
  margin-left: 2px;
  margin-top: 6px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.number-of-copies {
  letter-spacing: 0.7px;
  margin-left: 2px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.optional {
  letter-spacing: 0.7px;
  margin-left: 10px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.overlap-group {
  height: 182px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}
.overlap-group1 {
  height: 1246px;
  left: 6px;
  position: absolute;
  top: 8px;
  width: 724px;
}
.overlap-group2 {
  align-items: flex-end;
  border: 1px solid #d9d9d9;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  left: 279px;
  min-height: 120px;
  padding: 32px 72px;
  position: absolute;
  top: 243px;
  width: 432px;
}
.overlap-group3 {
  align-items: flex-start;
  border: 1px solid #bdbdbd;
  border-radius: 25px;
  display: flex;
  height: 45px;
  justify-content: flex-end;
  min-width: 45px;
  padding: 4px 19.8px;
}
.overlap-group3-1 {
  height: 13px;
  margin-left: -1px;
  margin-top: -1px;
  position: relative;
  width: 18px;
}
.overlap-group3-2 {
  height: 12px;
  margin-left: -1px;
  margin-top: -1.25px;
  position: relative;
  width: 16px;
}
.overlap-group4 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 80px;
  padding: 20px 18px;
  width: 151px;
}
.overlap-group5 {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 16px;
  display: flex;
  height: 45px;
  min-width: 148px;
  padding: 4px 21px;
}
.place {
  letter-spacing: 0.7px;
  margin-left: 2px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.preview {
  letter-spacing: 0.7px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.put-on-sale {
  left: 275px;
  letter-spacing: 0.7px;
  mix-blend-mode: normal;
  position: absolute;
  top: 857px;
}
.rectangle-704 {
  background-color: var(--cultured-pearl);
  height: 319px;
  margin-top: 19px;
  mix-blend-mode: normal;
  width: 319px;
}
.rectangle-722 {
  height: 25px;
  margin-bottom: 10.37px;
  margin-left: 20px;
  width: 26px;
}
.rectangle-755 {
  background-color: var(--cultured-pearl);
  height: 416px;
  left: 252px;
  mix-blend-mode: normal;
  position: absolute;
  top: 830px;
  width: 472px;
}
.rectangle-756 {
  background-color: var(--white);
  height: 163px;
  left: 252px;
  mix-blend-mode: normal;
  position: absolute;
  top: 920px;
  width: 472px;
}
.royalties {
  letter-spacing: 0.7px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.service-fee-25 {
  height: 10px;
  left: 275px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1047px;
  width: 94px;
}
.text-1 {
  color: var(--quick-silver);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 0;
  min-height: 18px;
  min-width: 280px;
  mix-blend-mode: normal;
  text-align: center;
}
.text-2 {
  left: 275px;
  letter-spacing: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1173px;
}
.text-3 {
  letter-spacing: 1px;
  margin-left: 112px;
  min-height: 18px;
  min-width: 16px;
  mix-blend-mode: normal;
}
.text-4 {
  left: 275px;
  letter-spacing: 0.7px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1110px;
}
.text-5 {
  left: 275px;
  letter-spacing: 0.5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 881px;
}
.text-6 {
  left: 275px;
  letter-spacing: 0.5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 968px;
}
.text-7 {
  left: 275px;
  letter-spacing: 0.5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1134px;
}
.tip-markdown-sy-ax-is-supported {
  height: 12px;
  left: 276px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1209px;
  width: 199px;
}
.title {
  color: #2a2f41;
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-weight: 700;
  left: 643px;
  letter-spacing: 1.68px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 1010px;
}
.upload-file {
  left: 281px;
  letter-spacing: 0.7px;
  mix-blend-mode: normal;
  position: absolute;
  top: 208px;
}
.vector-3 {
  height: 13px;
  left: 0;
  position: absolute;
  top: 0;
  width: 9px;
}
.vector-3-1 {
  height: 12px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 8px;
}
.x {
  letter-spacing: 0.8px;
  line-height: 35px;
  min-height: 35px;
  min-width: 5px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 10px;
}
.you-will-receive-0-eth-000 {
  height: 12px;
  left: 537px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1046px;
  width: 164px;
}
