.address {
  letter-spacing: 0;
  margin-left: 15px;
  min-height: 18px;
  min-width: 39px;
  mix-blend-mode: normal;
}
.address-1 {
  letter-spacing: 0;
  margin-left: 15px;
  min-height: 18px;
  min-width: 39px;
  mix-blend-mode: normal;
}
.auction {
  letter-spacing: 0;
  min-height: 18px;
  min-width: 68px;
  mix-blend-mode: normal;
}
.auction-1 {
  letter-spacing: 0;
  min-height: 18px;
  min-width: 68px;
  mix-blend-mode: normal;
}
.choose-collection {
  letter-spacing: 0.7px;
  margin-left: 2px;
  margin-top: 32px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.choose-collection-1 {
  letter-spacing: 0.7px;
  margin-left: 2px;
  margin-top: 32px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.crypto-wheel {
  align-self: center;
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 16px;
  min-height: 23px;
  min-width: 296px;
  mix-blend-mode: normal;
  width: 296px;
}
.crypto-wheel-1 {
  align-self: center;
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 16px;
  min-height: 23px;
  min-width: 296px;
  mix-blend-mode: normal;
  width: 296px;
}
.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 894px;
  position: relative;
  width: 458px;
}
.flex-col-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 168px;
  width: 329px;
}
.flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 67px;
  min-height: 153px;
  position: relative;
  width: 48px;
}
.flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 894px;
  position: relative;
  width: 458px;
}
.flex-col-4 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 168px;
  width: 329px;
}
.flex-col-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 67px;
  min-height: 153px;
  position: relative;
  width: 48px;
}
.flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 894px;
  margin-left: 116px;
  margin-top: 26px;
  min-width: 1006px;
}
.flex-row-2 {
  align-items: flex-start;
  display: flex;
  height: 50px;
  margin-top: 31px;
  min-width: 434px;
  position: relative;
}
.flex-row-3 {
  align-items: flex-start;
  display: flex;
  height: 800px;
  margin-left: 105px;
  min-width: 443px;
}
.flex-row-4 {
  align-items: flex-end;
  display: flex;
  margin-left: 17px;
  margin-top: 8px;
  min-width: 137px;
}
.flex-row-5 {
  align-items: flex-start;
  display: flex;
  height: 894px;
  margin-left: 116px;
  margin-top: 26px;
  min-width: 1006px;
}
.flex-row-6 {
  align-items: flex-start;
  display: flex;
  height: 50px;
  margin-top: 31px;
  min-width: 434px;
  position: relative;
}
.flex-row-7 {
  align-items: flex-start;
  display: flex;
  height: 800px;
  margin-left: 105px;
  min-width: 443px;
}
.flex-row-8 {
  align-items: flex-end;
  display: flex;
  margin-left: 17px;
  margin-top: 8px;
  min-width: 137px;
}
.group-449 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 112px;
  min-height: 491px;
  width: 329px;
}
.group-449-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 112px;
  min-height: 491px;
  width: 329px;
}
.group-929 {
  align-items: flex-start;
  display: flex;
  height: 171px;
  margin-left: 2px;
  margin-top: 32px;
  min-width: 456px;
}
.group-929-1 {
  align-items: flex-start;
  display: flex;
  height: 171px;
  margin-left: 2px;
  margin-top: 32px;
  min-width: 456px;
}
.group-935 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 1118px;
  position: absolute;
  top: 0;
  width: 1448px;
}
.group-935-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 1118px;
  position: absolute;
  top: 0;
  width: 1448px;
}
.instant-sale-price {
  letter-spacing: 0.7px;
  margin-top: 24px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.instant-sale-price-1 {
  letter-spacing: 0.7px;
  margin-top: 24px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.line-118 {
  height: 19px;
  margin-left: 13px;
  width: 1px;
}
.line-118-1 {
  height: 19px;
  margin-left: 13px;
  width: 1px;
}
.line-126 {
  align-self: flex-end;
  height: 709px;
  width: 1px;
}
.line-126-1 {
  align-self: flex-end;
  height: 709px;
  width: 1px;
}
.motorcycles-1 {
  height: 48px;
  left: 276px;
  letter-spacing: 0;
  line-height: 48px;
  mix-blend-mode: normal;
  position: absolute;
  top: 134px;
  white-space: nowrap;
}
.motorcycles-2 {
  height: 48px;
  left: 276px;
  letter-spacing: 0;
  line-height: 48px;
  mix-blend-mode: normal;
  position: absolute;
  top: 134px;
  white-space: nowrap;
}
.no-bid-yet {
  letter-spacing: 0;
  margin-left: 17px;
  margin-top: 8px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.no-bid-yet-1 {
  letter-spacing: 0;
  margin-left: 17px;
  margin-top: 8px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.overlap-group1-1 {
  height: 182px;
  margin-right: 8px;
  position: relative;
  width: 1440px;
}
.overlap-group1-2 {
  align-items: flex-end;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  margin-top: 17px;
  min-height: 120px;
  padding: 25px 72px;
  position: relative;
  width: 432px;
}
.overlap-group2 {
  align-items: flex-end;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  margin-top: 17px;
  min-height: 120px;
  padding: 25px 72px;
  position: relative;
  width: 432px;
}
.overlap-group2-1 {
  height: 182px;
  margin-right: 8px;
  position: relative;
  width: 1440px;
}
.preview {
  letter-spacing: 0.7px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.preview-1 {
  letter-spacing: 0.7px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.put-on-sale {
  letter-spacing: 0.7px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.put-on-sale-1 {
  letter-spacing: 0.7px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.rectangle-704 {
  background-color: var(--cultured-pearl);
  height: 319px;
  margin-top: 19px;
  mix-blend-mode: normal;
  width: 319px;
}
.rectangle-704-1 {
  background-color: var(--cultured-pearl);
  height: 319px;
  margin-top: 19px;
  mix-blend-mode: normal;
  width: 319px;
}
.text {
  letter-spacing: 0.5px;
  margin-top: 6px;
  min-height: 15px;
  mix-blend-mode: normal;
}
.text-1 {
  letter-spacing: 0;
  min-height: 18px;
  min-width: 280px;
  mix-blend-mode: normal;
  text-align: center;
}
.text-2 {
  letter-spacing: 0.5px;
  margin-top: 6px;
  min-height: 15px;
  mix-blend-mode: normal;
}
.text-20 {
  letter-spacing: 0;
  min-height: 18px;
  min-width: 280px;
  mix-blend-mode: normal;
  text-align: center;
}
.text-22 {
  letter-spacing: 0.7px;
  margin-top: 27px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.text-3 {
  letter-spacing: 0.7px;
  margin-top: 27px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.upload-file {
  letter-spacing: 0.7px;
  margin-left: 2px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.upload-file-1 {
  letter-spacing: 0.7px;
  margin-left: 2px;
  min-height: 18px;
  mix-blend-mode: normal;
}
