.call-contract-method {
  height: 13px;
  margin-left: 47.5px;
  margin-top: 11px;
  mix-blend-mode: normal;
  width: 168px;
}
.desktop-42 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 898px;
  mix-blend-mode: normal;
  overflow: hidden;
  width: 1440px;
}
.flex-row {
  align-items: center;
  align-self: center;
  display: flex;
  min-width: 369px;
}
.group-3 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-top: 27px;
  min-width: 371px;
}
.group-960 {
  align-items: flex-start;
  display: flex;
  height: 282px;
  left: 504px;
  min-width: 439px;
  position: absolute;
  top: 308px;
}
.motorcycles {
  height: 48px;
  letter-spacing: 0;
  line-height: 48px;
  min-height: 48px;
  min-width: 164px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.overlap-group {
  height: 1118px;
  position: relative;
  width: 1448px;
}
.overlap-group1 {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  height: 48px;
  justify-content: flex-end;
  min-width: 369px;
  padding: 4.3px 63.2px;
}
.overlap-group6 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 282px;
  padding: 32px 30px;
  width: 433px;
}
.rectangle-753 {
  background-color: var(--black-2);
  height: 899px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 1440px;
}
.text-7 {
  letter-spacing: 0.7px;
  margin-left: 2px;
  margin-top: 52px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.text-8 {
  letter-spacing: 0.8px;
  line-height: 35px;
  min-height: 35px;
  min-width: 237px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
}
.ui-close-large-black {
  background-size: 100% 100%;
  height: 16px;
  margin-left: 189px;
  width: 16px;
}
