.group-644 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 123px;
  width: 64px;
}
.group-644-item {
  letter-spacing: 0.7px;
  margin-top: 16px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.history {
  letter-spacing: 0.7px;
  margin-top: 15px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.info {
  letter-spacing: 0.7px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.rectangle-744 {
  background-color: var(--blaze-orange);
  height: 2px;
  margin-top: 2px;
  mix-blend-mode: normal;
  width: 28px;
}
