.bodhi5000 {
  align-self: center;
  height: 11px;
  margin-left: 8px;
  mix-blend-mode: normal;
  width: 72px;
}
.bodhi5000-1 {
  align-self: center;
  height: 11px;
  margin-left: 8px;
  mix-blend-mode: normal;
  width: 72px;
}
.ellipse-89-2 {
  background-color: var(--alto);
  border-radius: 8px;
  height: 16px;
  mix-blend-mode: normal;
  width: 16px;
}
.ellipse-89-3 {
  background-color: var(--alto);
  border-radius: 8px;
  height: 16px;
  mix-blend-mode: normal;
  width: 16px;
}
.group-638-3 {
  align-items: flex-start;
  display: flex;
  height: 19px;
  left: 336px;
  min-width: 99px;
  padding: 1px 0;
  position: absolute;
  top: 55px;
}
.group-638-4 {
  align-items: flex-start;
  display: flex;
  height: 19px;
  left: 336px;
  min-width: 99px;
  padding: 1px 0;
  position: absolute;
  top: 55px;
}
