.address-1 {
  left: 778px;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 474px;
}
.bid-modal {
  align-items: flex-start;
  background-color: var(--black-2);
  display: flex;
  height: 899px;
  mix-blend-mode: normal;
  padding: 0 6px;
  width: 1440px;
}
.by-melvin {
  height: 15px;
  margin-right: 89px;
  margin-top: 13px;
  width: 60px;
}
.crypto-wheel-30-smoked {
  height: 13px;
  margin-left: 5px;
  margin-top: 3px;
  mix-blend-mode: normal;
  width: 249px;
}
.details {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 445px;
  min-height: 199px;
  padding: 0 32px;
  position: absolute;
  top: 610px;
  width: 445px;
}
.enter-bid {
  align-self: center;
  color: var(--sonic-silver);
  font-family: var(--font-family-mulish-light);
  font-size: var(--font-size-xxl);
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 2px;
  min-height: 30px;
  min-width: 108px;
  mix-blend-mode: normal;
}
.feel-the-freedom-2 {
  align-self: flex-start;
  letter-spacing: 1px;
  line-height: 24px;
  min-height: 24px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 87px;
  width: 78px;
}
.flex-col-4 {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 194px;
  min-height: 87px;
  width: 96px;
}
.flex-col-5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5px;
  margin-left: 24px;
  min-height: 68px;
  width: 254px;
}
.flex-row-7 {
  align-items: flex-start;
  display: flex;
  height: 88px;
  min-width: 368px;
}
.group-3 {
  align-items: flex-start;
  display: flex;
  margin-top: 40px;
  min-width: 371px;
}
.group-918 {
  align-items: flex-start;
  display: flex;
  height: 80px;
  left: 477px;
  min-width: 371px;
  position: absolute;
  top: 505px;
}
.group-919 {
  align-items: center;
  display: flex;
  height: 80px;
  left: 477px;
  min-width: 369px;
  position: absolute;
  top: 210px;
}
.group-920 {
  align-items: flex-start;
  display: flex;
  height: 80px;
  left: 477px;
  min-width: 373px;
  position: absolute;
  top: 370px;
}
.icon-material-navigate-next {
  height: 8px;
  left: 812px;
  mix-blend-mode: normal;
  position: absolute;
  top: 541px;
  width: 12px;
}
.icon-material-navigate-next-1 {
  height: 8px;
  left: 812px;
  mix-blend-mode: normal;
  position: absolute;
  top: 406px;
  width: 12px;
}
.line-23 {
  height: 1px;
  left: 477px;
  position: absolute;
  top: 187px;
  width: 369px;
}
.line-24 {
  height: 1px;
  left: 477px;
  position: absolute;
  top: 315px;
  width: 369px;
}
.line-25 {
  height: 1px;
  left: 477px;
  position: absolute;
  top: 609px;
  width: 369px;
}
.motorcycles-4 {
  height: 48px;
  left: 477px;
  letter-spacing: 0;
  line-height: 48px;
  mix-blend-mode: normal;
  position: absolute;
  top: 75px;
  white-space: nowrap;
}
.motorcycles-5 {
  left: 477px;
  letter-spacing: 1.44px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  top: 155px;
  white-space: nowrap;
  width: 371px;
}
.number-2 {
  color: var(--black);
  font-family: var(--font-family-mulish-light);
  font-size: var(--font-size-xxl);
  font-weight: 300;
  letter-spacing: 1px;
  min-height: 30px;
  mix-blend-mode: normal;
}
.overlap-group-5 {
  height: 841px;
  margin-top: 8px;
  position: relative;
  width: 890px;
}
.overlap-group1-5 {
  align-items: flex-start;
  background-color: var(--concrete);
  border-radius: 8px;
  display: flex;
  height: 80px;
  min-width: 369px;
  padding: 20px 24px;
}
.overlap-group1-6 {
  align-items: flex-start;
  background-color: var(--alto);
  border-radius: 16px;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  min-width: 369px;
  padding: 4.3px 68.7px;
}
.overlap-group2-2 {
  align-items: flex-start;
  background-color: var(--concrete);
  border-radius: 8px;
  display: flex;
  height: 80px;
  min-width: 369px;
  padding: 23px 24px;
}
.place-1 {
  color: #1c1c1c;
  font-family: var(--font-family-mulish-light);
  font-size: var(--font-size-xxl);
  font-weight: 300;
  letter-spacing: 1px;
  margin-left: 140px;
  min-height: 30px;
  min-width: 51px;
  mix-blend-mode: normal;
  text-align: right;
}
.place-a-bid {
  color: var(--quick-silver);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-l);
  font-weight: 800;
  letter-spacing: 0.8px;
  line-height: 35px;
  min-height: 37px;
  min-width: 226px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 226px;
}
.rectangle-703 {
  height: 798px;
  left: 445px;
  mix-blend-mode: normal;
  position: absolute;
  top: 43px;
  width: 433px;
}
.rectangle-704-1 {
  background-color: var(--cararra);
  height: 80px;
  mix-blend-mode: normal;
  width: 80px;
}
.service-fee {
  letter-spacing: 0.5px;
  margin-top: 16px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.subtotal {
  letter-spacing: 0.5px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.title {
  letter-spacing: 1.44px;
  min-height: 15px;
  min-width: 73px;
  mix-blend-mode: normal;
  text-align: right;
}
.title-1 {
  letter-spacing: 1.44px;
  margin-top: 19px;
  min-height: 15px;
  min-width: 73px;
  mix-blend-mode: normal;
  text-align: right;
}
.title-2 {
  color: var(--ebony-clay);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 1.92px;
  margin-top: 18px;
  min-height: 20px;
  min-width: 96px;
  mix-blend-mode: normal;
  text-align: right;
}
.to {
  left: 477px;
  letter-spacing: 1.44px;
  mix-blend-mode: normal;
  position: absolute;
  top: 474px;
}
.to-1 {
  left: 477px;
  letter-spacing: 1.44px;
  mix-blend-mode: normal;
  position: absolute;
  top: 339px;
}
.total {
  letter-spacing: 1.44px;
  margin-top: 20px;
  min-height: 15px;
  mix-blend-mode: normal;
}
.ui-close-large-black {
  background-size: 100% 100%;
  height: 16px;
  left: 830px;
  position: absolute;
  top: 91px;
  width: 16px;
}
