.ellipse-89-1 {
  background-color: var(--alto);
  border-radius: 20px;
  height: 40px;
  margin-bottom: 0.08px;
  mix-blend-mode: normal;
  width: 40px;
}
.ellipse-89-1.ellipse-89-2 {
  margin-bottom: unset;
}
