.group-3-8 {
  align-items: flex-start;
  display: flex;
  margin-top: 40px;
  min-width: 371px;
}
.overlap-group1-10 {
  align-items: flex-start;
  background-color: var(--alto);
  border-radius: 16px;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  min-width: 369px;
  padding: 4.3px 68.7px;
}
.place-a-bid {
  color: var(--quick-silver);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-l);
  font-weight: 800;
  letter-spacing: 0.8px;
  line-height: 35px;
  min-height: 37px;
  min-width: 226px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 226px;
}
