.address-4 {
  letter-spacing: 0;
  margin-left: 15px;
  min-height: 18px;
  min-width: 48px;
  mix-blend-mode: normal;
  text-align: right;
}
.address-5 {
  letter-spacing: 0;
  margin-left: 23px;
  min-height: 18px;
  min-width: 48px;
  mix-blend-mode: normal;
}
.art-work-title-1 {
  align-self: center;
  letter-spacing: 0;
  margin-left: 3px;
  margin-top: 16px;
  min-height: 23px;
  min-width: 296px;
  mix-blend-mode: normal;
  width: 296px;
}
.art-work-title-2 {
  letter-spacing: 0;
  margin-left: 9px;
  margin-top: 16px;
  min-height: 23px;
  min-width: 296px;
  mix-blend-mode: normal;
  width: 296px;
}
.b-avatar {
  align-self: center;
  background-color: var(--black);
  border-radius: 22.5px;
  height: 45px;
  mix-blend-mode: normal;
  width: 45px;
}
.collection-name-1 {
  left: 13px;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 132px;
  width: 296px;
}
.community-1 {
  border: none;
  cursor: pointer;
  letter-spacing: 0.8px;
  line-height: 35px;
  margin-left: 22px;
  min-height: 35px;
  min-width: 107px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  z-index: 99;
}
.connect-wallet-1 {
  align-items: flex-start;
  border: none;
  cursor: pointer;
  display: flex;
  margin-left: 22px;
  min-width: 195px;
  z-index: 99;
}
.connect-wallet-2 {
  letter-spacing: 0.8px;
  line-height: 35px;
  margin-left: 11px;
  min-height: 35px;
  min-width: 132px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
}
.create-1 {
  letter-spacing: 0.8px;
  line-height: 35px;
  min-height: 35px;
  min-width: 58px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
}
.create-button {
  align-items: flex-start;
  border: none;
  cursor: pointer;
  display: flex;
  margin-left: 47px;
  min-width: 122px;
  z-index: 99;
}
.ellipse {
  height: 64px;
  left: 128px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 44px;
  width: 64px;
}
.ellipse-4 {
  height: 32px;
  left: 22px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 32px;
}
.ellipse-78-1 {
  border-radius: 7.5px;
  height: 15px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 15px;
}
.ellipse-79 {
  background-color: var(--mercury);
  border-radius: 16px;
  height: 32px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 32px;
}
.ellipse-81 {
  height: 32px;
  left: 44px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 32px;
}
.explore-1 {
  border: none;
  cursor: pointer;
  letter-spacing: 0.8px;
  line-height: 35px;
  margin-left: 186px;
  min-height: 35px;
  min-width: 79px;
  mix-blend-mode: normal;
  text-align: right;
  white-space: nowrap;
  z-index: 99;
}
.eyebrow {
  align-items: flex-start;
  display: flex;
  height: 26px;
  left: 835px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 64px;
  width: 191px;
}
.favoriteborder-2 {
  align-items: flex-end;
  display: flex;
  height: 24px;
  left: 279px;
  min-width: 24px;
  padding: 2.3px 2px;
  position: absolute;
  top: 16px;
}
.favoriteborder-3 {
  align-items: flex-end;
  display: flex;
  height: 24px;
  margin-left: 6px;
  min-width: 24px;
  padding: 2.3px 2px;
}
.feel-the-freedom-4 {
  left: 54px;
  letter-spacing: 1px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  top: 723px;
  white-space: nowrap;
  width: 193px;
}
.feel-the-freedom-5 {
  left: 54px;
  letter-spacing: 1px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1269px;
  white-space: nowrap;
  width: 193px;
}
.flex-col-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 48px;
  min-height: 46px;
  width: 1247px;
}
.flex-row-17 {
  align-items: flex-end;
  display: flex;
  margin-left: 17px;
  margin-top: 8px;
  min-width: 133px;
}
.flex-row-18 {
  align-items: center;
  display: flex;
  min-width: 1247px;
}
.flex-row-19 {
  align-items: flex-start;
  display: flex;
  margin-left: 9px;
  min-width: 278px;
}
.flex-row-20 {
  align-items: flex-end;
  align-self: flex-start;
  display: flex;
  margin-left: 17px;
  margin-top: 9px;
  min-width: 149px;
}
.flex-row-21 {
  align-items: center;
  display: flex;
  margin-right: 1px;
  margin-top: 16px;
  min-width: 284px;
  position: relative;
}
.frame-10 {
  align-items: center;
  background-color: var(--cultured-pearl);
  border-radius: 50px;
  display: flex;
  height: 80px;
  justify-content: flex-end;
  left: 465px;
  min-width: 161px;
  mix-blend-mode: normal;
  padding: 0 46px;
  position: absolute;
  top: 3061px;
}
.frame-3 {
  align-items: center;
  background-color: var(--cultured-pearl);
  border-radius: 50px;
  display: flex;
  height: 80px;
  justify-content: flex-end;
  left: 371px;
  min-width: 241px;
  mix-blend-mode: normal;
  padding: 0 46px;
  position: absolute;
  top: 2957px;
}
.frame-4 {
  align-items: center;
  background-color: var(--cultured-pearl);
  border-radius: 50px;
  display: flex;
  height: 80px;
  justify-content: flex-end;
  left: 636px;
  min-width: 174px;
  mix-blend-mode: normal;
  padding: 0 46px;
  position: absolute;
  top: 2957px;
}
.frame-5 {
  align-items: center;
  background-color: var(--cultured-pearl);
  border-radius: 50px;
  display: flex;
  height: 80px;
  justify-content: flex-end;
  left: 834px;
  min-width: 160px;
  mix-blend-mode: normal;
  padding: 0 46px;
  position: absolute;
  top: 2957px;
}
.frame-6 {
  align-items: center;
  background-color: var(--cultured-pearl);
  border-radius: 50px;
  display: flex;
  height: 80px;
  justify-content: flex-end;
  left: 1018px;
  min-width: 176px;
  mix-blend-mode: normal;
  padding: 0 46px;
  position: absolute;
  top: 2957px;
}
.frame-7 {
  align-items: center;
  background-color: var(--cultured-pearl);
  border-radius: 50px;
  display: flex;
  height: 80px;
  justify-content: flex-end;
  left: 52px;
  min-width: 195px;
  mix-blend-mode: normal;
  padding: 0 46px;
  position: absolute;
  top: 3061px;
}
.frame-8 {
  align-items: center;
  background-color: var(--cultured-pearl);
  border-radius: 50px;
  display: flex;
  height: 80px;
  justify-content: flex-end;
  left: 1218px;
  min-width: 147px;
  mix-blend-mode: normal;
  padding: 0 46px;
  position: absolute;
  top: 2957px;
}
.frame-9 {
  align-items: center;
  background-color: var(--cultured-pearl);
  border-radius: 50px;
  display: flex;
  height: 80px;
  justify-content: flex-end;
  left: 271px;
  min-width: 170px;
  mix-blend-mode: normal;
  padding: 0 46px;
  position: absolute;
  top: 3061px;
}
.group-206-2 {
  align-items: flex-start;
  display: flex;
  height: 11px;
  justify-content: flex-end;
  margin-left: 9px;
  margin-top: 1px;
  min-width: 17px;
  transform: rotate(-180deg);
}
.group-426 {
  align-items: center;
  display: flex;
  min-width: 132px;
}
.group-430 {
  align-items: flex-start;
  display: flex;
  height: 449px;
  left: 0;
  min-width: 327px;
  position: absolute;
  top: 0;
}
.group-443 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 730px;
  min-height: 454px;
  position: absolute;
  top: 723px;
  width: 327px;
}
.group-445 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 391px;
  min-height: 454px;
  position: absolute;
  top: 723px;
  width: 327px;
}
.group-449 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 454px;
  position: absolute;
  top: 0;
  width: 327px;
}
.group-939 {
  align-items: flex-start;
  display: flex;
  height: 449px;
  left: 0;
  min-width: 319px;
  position: absolute;
  top: 0;
}
.header-3 {
  align-items: flex-start;
  display: flex;
  height: 135px;
  left: 0;
  min-width: 1448px;
  padding: 44px 53px;
  position: absolute;
  top: 0;
}
.image-12 {
  height: 25px;
  left: 67px;
  mix-blend-mode: normal;
  position: absolute;
  top: 55px;
  width: 20px;
}
.image-3 {
  height: 32px;
  left: 220px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 196px;
  width: 22px;
}
.landingpage {
  background-color: var(--white);
  height: 4186px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: relative;
  width: 1440px;
}
.learn-1 {
  border: none;
  cursor: pointer;
  letter-spacing: 0.8px;
  line-height: 35px;
  margin-left: 22px;
  min-height: 35px;
  min-width: 59px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  z-index: 99;
}
.learn-more {
  letter-spacing: 0.9px;
  min-height: 23px;
  min-width: 121px;
  mix-blend-mode: normal;
  text-align: center;
  width: 121px;
}
.learn-more-button {
  align-items: flex-start;
  border: none;
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 835px;
  min-width: 182px;
  position: absolute;
  top: 371px;
}
.line-118-2 {
  height: 19px;
  margin-left: 13px;
  width: 1px;
}
.line-118-3 {
  height: 19px;
  margin-left: 21px;
  width: 1px;
}
.line-35-4 {
  height: 3px;
  left: 2px;
  position: absolute;
  top: 5px;
  transform: rotate(180deg);
  width: 17px;
}
.line-67-1 {
  height: 8px;
  left: 10px;
  position: absolute;
  top: 12px;
  width: 8px;
}
.link-icon {
  align-self: center;
  height: 22px;
  margin-bottom: 1px;
  mix-blend-mode: normal;
  width: 22px;
}
.mask-group {
  height: 64px;
  left: 128px;
  position: absolute;
  top: 44px;
  width: 64px;
}
.mask-group-1 {
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 32px;
}
.motorcycles-12 {
  height: 80px;
  left: 54px;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 757px;
  width: 301px;
}
.motorcycles-13 {
  height: 80px;
  left: 54px;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 1303px;
  width: 301px;
}
.motorcycles-14 {
  height: 54px;
  left: 54px;
  letter-spacing: 0.5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 861px;
  width: 318px;
}
.motorcycles-15 {
  height: 54px;
  left: 54px;
  letter-spacing: 0.5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1407px;
  width: 318px;
}
.motorcycles-16 {
  height: 18px;
  left: 1305px;
  letter-spacing: 0.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-decoration: underline;
  top: 2903px;
}
.motorcycles-17 {
  height: 18px;
  left: 1332px;
  letter-spacing: 0.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  text-decoration: underline;
  top: 2510px;
}
.motorcycles-18 {
  height: 18px;
  left: 1332px;
  letter-spacing: 0.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  text-decoration: underline;
  top: 1833px;
}
.motorcycles-19 {
  height: 48px;
  left: 52px;
  letter-spacing: 0;
  line-height: 48px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2888px;
  white-space: nowrap;
}
.motorcycles-20 {
  height: 48px;
  left: 52px;
  letter-spacing: 0;
  line-height: 48px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2492px;
  white-space: nowrap;
}
.motorcycles-21 {
  height: 48px;
  left: 52px;
  letter-spacing: 0;
  line-height: 48px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1815px;
  white-space: nowrap;
}
.motorcycles-22 {
  height: 48px;
  letter-spacing: 0;
  line-height: 48px;
  min-height: 48px;
  min-width: 101px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.motorcycles-23 {
  height: 48px;
  letter-spacing: 0;
  line-height: 48px;
  min-height: 48px;
  min-width: 76px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.motorcycles-24 {
  height: 48px;
  letter-spacing: 0;
  line-height: 48px;
  min-height: 48px;
  min-width: 67px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.motorcycles-25 {
  height: 48px;
  letter-spacing: 0;
  line-height: 48px;
  min-height: 48px;
  min-width: 53px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.motorcycles-26 {
  height: 48px;
  letter-spacing: 0;
  line-height: 48px;
  min-height: 48px;
  min-width: 147px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.motorcycles-27 {
  height: 48px;
  letter-spacing: 0;
  line-height: 48px;
  min-height: 48px;
  min-width: 80px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.motorcycles-28 {
  height: 48px;
  letter-spacing: 0;
  line-height: 48px;
  min-height: 48px;
  min-width: 66px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.motorcycles-29 {
  height: 48px;
  letter-spacing: 0;
  line-height: 48px;
  min-height: 48px;
  min-width: 82px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.motorcycles-30 {
  height: 36px;
  left: 838px;
  letter-spacing: 0.5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 218px;
  width: 436px;
}
.nav-bar-divider {
  height: 31px;
  margin-left: 45px;
  width: 1px;
}
.nft-1 {
  color: var(--blaze-orange);
  font-family: var(--font-family-mulish-black);
  font-size: var(--font-size-l);
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 24px;
  min-height: 26px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.number-5 {
  left: 254px;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 18px;
}
.number-6 {
  letter-spacing: 0;
  margin-top: 2px;
  min-height: 18px;
  min-width: 19px;
  mix-blend-mode: normal;
  text-align: right;
}
.number-7 {
  letter-spacing: 0;
  margin-left: 153px;
  margin-top: 2px;
  min-height: 18px;
  min-width: 19px;
  mix-blend-mode: normal;
  text-align: right;
}
.overlap-group-10 {
  background-position: 50% 50%;
  background-size: cover;
  height: 200px;
  left: 730px;
  position: absolute;
  top: 2580px;
  width: 319px;
}
.overlap-group-9 {
  height: 19px;
  position: relative;
  width: 20px;
}
.overlap-group1-12 {
  background-position: 50% 50%;
  background-size: cover;
  height: 200px;
  left: 391px;
  position: absolute;
  top: 2580px;
  width: 319px;
}
.overlap-group10 {
  height: 13px;
  margin-top: -1px;
  position: relative;
  width: 19px;
}
.overlap-group2-7 {
  background-color: var(--cararra);
  background-size: 100% 100%;
  height: 480px;
  left: 52px;
  position: absolute;
  top: 135px;
  width: 1336px;
}
.overlap-group24 {
  background-size: 100% 100%;
  height: 319px;
  position: relative;
  width: 319px;
}
.overlap-group26 {
  background-position: 50% 50%;
  background-size: cover;
  height: 319px;
  position: relative;
  width: 319px;
}
.overlap-group3-5 {
  background-position: 50% 50%;
  background-size: cover;
  height: 200px;
  left: 1069px;
  position: absolute;
  top: 2580px;
  width: 319px;
}
.overlap-group4-2 {
  background-position: 50% 50%;
  background-size: cover;
  height: 200px;
  left: 52px;
  position: absolute;
  top: 2580px;
  width: 319px;
}
.overlap-group5-2 {
  height: 454px;
  left: 1069px;
  position: absolute;
  top: 1269px;
  width: 327px;
}
.overlap-group6 {
  height: 135px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 1448px;
}
.overlap-group7 {
  height: 20px;
  margin-bottom: -1px;
  position: relative;
  width: 18px;
}
.overlap-group7-1 {
  align-items: flex-start;
  background-color: var(--cararra);
  display: flex;
  height: 319px;
  justify-content: flex-end;
  min-width: 319px;
  padding: 16px;
}
.overlap-group7-2 {
  align-items: center;
  background-color: var(--white);
  border: 1px solid var(--mist-gray);
  display: flex;
  flex-direction: column;
  min-height: 449px;
  padding: 16px 0;
  width: 319px;
}
.overlap-group7-3 {
  align-items: flex-start;
  border: 1px solid var(--black);
  border-radius: 16px;
  display: flex;
  height: 45px;
  min-width: 180px;
  padding: 9.5px 28.8px;
}
.overlap-group8 {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 25px;
  display: flex;
  height: 45px;
  justify-content: flex-end;
  min-width: 120px;
  padding: 4px 30px;
}
.overlap-group8-1 {
  height: 32px;
  position: relative;
  width: 76px;
}
.overlap-group9 {
  align-items: flex-start;
  border-radius: 25px;
  display: flex;
  height: 45px;
  min-width: 193px;
  padding: 4px 11px;
}
.overlap-group9-1 {
  height: 449px;
  position: relative;
  width: 327px;
}
.pagination {
  align-items: flex-start;
  display: flex;
  height: 4px;
  left: 676px;
  min-width: 88px;
  position: absolute;
  top: 655px;
}
.place-a-bid-2 {
  color: var(--blaze-orange);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-l);
  font-weight: 700;
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 103px;
  mix-blend-mode: normal;
  text-align: right;
  white-space: nowrap;
}
.rectangle-703-1 {
  height: 255px;
  margin-right: 2px;
  margin-top: 15px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 317px;
}
.rectangle-705 {
  height: 319px;
  left: 0;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 319px;
}
.rectangle-73 {
  height: 200px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 319px;
}
.rectangle-730 {
  background-color: #ffcb14;
  height: 480px;
  left: 771px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 565px;
}
.rectangle-739 {
  background-color: var(--mercury);
  height: 4px;
  mix-blend-mode: normal;
  width: 16px;
}
.rectangle-74 {
  height: 200px;
  left: 0;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 319px;
}
.rectangle-74-1 {
  background-color: var(--mercury);
  height: 4px;
  margin-left: 8px;
  mix-blend-mode: normal;
  width: 16px;
}
.rectangle-740 {
  background-color: var(--black);
  height: 4px;
  margin-left: 8px;
  mix-blend-mode: normal;
  width: 16px;
}
.rectangle-759 {
  background-color: var(--cultured-pearl);
  height: 319px;
  left: 0;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  width: 319px;
}
.search-icon {
  align-items: flex-end;
  display: flex;
  height: 19px;
  margin-top: 4px;
  min-width: 17px;
}
.search-line {
  height: 1px;
  width: 477px;
}
.text-11 {
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 16px;
  margin-top: 4px;
  min-height: 35px;
  min-width: 306px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.text-12 {
  color: var(--black);
  font-family: var(--font-family-mulish-black);
  font-size: 48px;
  font-weight: 900;
  height: 96px;
  left: 835px;
  letter-spacing: 0.5px;
  line-height: 48px;
  mix-blend-mode: normal;
  position: absolute;
  top: 98px;
  width: 439px;
}
.vector-3-4 {
  height: 13px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 8px;
}
.vector-8 {
  height: 1px;
  left: 10px;
  position: absolute;
  top: 9px;
  width: 1px;
}
.vector-9 {
  height: 19px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 20px;
}
.x02-eth-1 {
  letter-spacing: 0;
  min-height: 18px;
  min-width: 55px;
  mix-blend-mode: normal;
}

// home page
.burnt-logo {
  height: 36px;
  margin-bottom: 3px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 178px;
}
.community-2 {
  letter-spacing: 0.8px;
  line-height: 35px;
  margin-left: 22px;
  min-height: 35px;
  min-width: 107px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
}
.connect-wallet-3 {
  align-items: flex-start;
  border: none;
  cursor: pointer;
  display: flex;
  margin-left: 22px;
  min-width: 195px;
  z-index: 99;
  background-color: transparent;
}
.connect-wallet-4 {
  letter-spacing: 0.8px;
  line-height: 35px;
  margin-left: 13px;
  min-height: 35px;
  min-width: 132px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
}
.create-2 {
  align-items: flex-start;
  border: none;
  cursor: pointer;
  display: flex;
  margin-left: 47px;
  min-width: 122px;
  z-index: 99;
  background-color: transparent;
}
.create-3 {
  letter-spacing: 0.8px;
  line-height: 35px;
  min-height: 35px;
  min-width: 58px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
}
.explore-2 {
  letter-spacing: 0.8px;
  line-height: 35px;
  margin-left: 434px;
  min-height: 35px;
  min-width: 79px;
  mix-blend-mode: normal;
  text-align: right;
  white-space: nowrap;
}
.flex-col-10 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  min-height: 670px;
  width: 206px;
}
.flex-col-11 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 31px;
  min-height: 670px;
  width: 206px;
}
.flex-col-12 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 103px;
  margin-left: 20px;
  min-height: 670px;
  width: 206px;
}
.flex-col-13 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 164.5px;
  min-height: 598px;
  width: 206px;
}
.flex-col-14 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 31px;
  min-height: 670px;
  width: 206px;
}
.fundraising-2 {
  height: 152px;
  left: 264px;
  position: absolute;
  top: 0;
  width: 272px;
}
.group-987 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  height: 206px;
  left: 0;
  min-width: 206px;
  position: absolute;
  top: 0;
}
.header-4 {
  height: 135px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 1440px;
}
.home-background {
  align-items: center;
  display: flex;
  height: 1113px;
  left: 53px;
  min-width: 1336px;
  opacity: 0.7;
  position: absolute;
  top: 44px;
}
.home-blue-tint-mask {
  height: 732px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 177px;
  width: 1440px;
}
.home-center-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 279px;
  min-height: 645px;
  position: absolute;
  top: 177px;
  width: 888px;
}
.home-divider {
  height: 1px;
  margin-right: 4px;
  margin-top: 27px;
  width: 884px;
}
.home-image1 {
  height: 206px;
  margin-top: 26px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 206px;
}
.home-transparent-mask {
  height: 909px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 1440px;
}
.homepage {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 909px;
  mix-blend-mode: normal;
  overflow: hidden;
  width: 1440px;
}
.image1 {
  height: 164px;
  width: 206px;
}
.learn-2 {
  letter-spacing: 0.8px;
  line-height: 35px;
  margin-left: 22px;
  min-height: 35px;
  min-width: 59px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
}
.link-icon-1 {
  align-self: center;
  height: 18px;
  margin-bottom: 1px;
  mix-blend-mode: normal;
  width: 18px;
}
.mask-group-2 {
  height: 206px;
  width: 206px;
}
.nav-bar {
  align-items: center;
  display: flex;
  height: 45px;
  left: 57px;
  min-width: 1338px;
  position: absolute;
  top: 45px;
}
.nav-bar-divider-1 {
  height: 31px;
  margin-left: 45px;
  width: 1px;
}
.nf-ts-1 {
  height: 152px;
  left: 0;
  position: absolute;
  top: 0;
  width: 272px;
}
.overlap-group-12 {
  background-color: var(--cararra);
  background-position: 50% 50%;
  background-size: cover;
  height: 206px;
  margin-top: 26px;
  width: 206px;
}
.overlap-group-13 {
  align-items: center;
  background-color: var(--cararra);
  display: flex;
  height: 206px;
  margin-top: 26px;
  min-width: 206px;
}
.overlap-group-14 {
  background-color: var(--cararra);
  background-position: 50% 50%;
  background-size: cover;
  height: 206px;
  width: 206px;
}
.overlap-group-15 {
  height: 1157px;
  position: relative;
  width: 1441px;
}
.overlap-group1-15 {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 25px;
  display: flex;
  height: 45px;
  justify-content: flex-end;
  min-width: 120px;
  padding: 4px 30px;
}
.overlap-group10-1 {
  background-color: var(--cararra);
  background-size: 100% 100%;
  height: 206px;
  width: 206px;
}
.overlap-group13 {
  height: 152px;
  margin-right: 6px;
  margin-top: 57px;
  position: relative;
  width: 800px;
}
.overlap-group2-8 {
  background-color: var(--cararra);
  height: 206px;
  position: relative;
  width: 206px;
}
.overlap-group2-9 {
  align-items: flex-start;
  border-radius: 25px;
  display: flex;
  height: 45px;
  min-width: 193px;
  padding: 4px 13px;
}
.overlap-group5-3 {
  align-items: flex-start;
  background-color: var(--cararra);
  display: flex;
  height: 206px;
  min-width: 206px;
}
.rectangle-711 {
  height: 190px;
  margin-top: 34px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 206px;
}
.rectangle-714 {
  background-color: var(--cararra);
  height: 206px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 206px;
}
.rectangle-717 {
  background-color: var(--cararra);
  height: 206px;
  margin-top: 34px;
  mix-blend-mode: normal;
  width: 206px;
}
.rectangle-718 {
  background-color: var(--cararra);
  height: 206px;
  margin-top: 26px;
  mix-blend-mode: normal;
  width: 206px;
}
.rectangle-719 {
  height: 61px;
  margin-top: 98px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 206px;
}
.rectangle-722 {
  height: 15px;
  width: 26px;
}
.rectangle-759-1 {
  background-color: var(--cultured-pearl);
  height: 206px;
  mix-blend-mode: multiply;
  width: 206px;
}
.rectangle-763 {
  height: 164px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 206px;
}
.rectangle-765 {
  height: 205px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 205px;
}
.rectangle-769 {
  height: 61px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 206px;
}
.rectangle-770 {
  height: 190px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 206px;
}
.scroll-down-button {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 24px;
  display: flex;
  height: 48px;
  margin-right: 6px;
  margin-top: 40px;
  min-width: 48px;
  padding: 12.8px 11px;
}
.synthetics-2 {
  height: 152px;
  left: 528px;
  position: absolute;
  top: 0;
  width: 272px;
}
.text-13 {
  letter-spacing: 0.8px;
  line-height: 35px;
  margin-right: 3px;
  margin-top: 44px;
  min-height: 35px;
  min-width: 155px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
}
.text-14 {
  color: var(--black);
  font-family: var(--font-family-mulish-semibold);
  font-size: var(--font-size-xxxxl);
  font-weight: 600;
  height: 240px;
  letter-spacing: 0.5px;
  margin-right: 3px;
  min-height: 240px;
  min-width: 841px;
  mix-blend-mode: normal;
  text-align: center;
  width: 841px;
}
