.create-project-container {
  height: 900px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 1440px;
}
.createprojectpage {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  mix-blend-mode: normal;
  overflow: hidden;
  width: 1440px;
}
.feel-the-freedom {
  left: 70px;
  letter-spacing: 1px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  top: 75px;
  white-space: nowrap;
}
.feel-the-freedom-1 {
  left: 71px;
  letter-spacing: 1px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  top: 75px;
  white-space: nowrap;
}
.fundraising {
  align-items: flex-start;
  display: flex;
  height: 120px;
  left: 600px;
  min-width: 244px;
  position: absolute;
  top: 390px;
}
.fundraising-1 {
  left: 64px;
  letter-spacing: 0.9px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 48px;
}
.motorcycles {
  height: 48px;
  left: 531px;
  letter-spacing: 0;
  line-height: 48px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 243px;
  white-space: nowrap;
}
.motorcycles-1 {
  left: 354px;
  letter-spacing: 0.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 534px;
  width: 205px;
}
.motorcycles-2 {
  left: 620px;
  letter-spacing: 0.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 534px;
  width: 205px;
}
.motorcycles-3 {
  left: 883px;
  letter-spacing: 0.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 534px;
  width: 205px;
}
.nf-ts {
  align-items: flex-start;
  display: flex;
  height: 120px;
  left: 336px;
  min-width: 242px;
  position: absolute;
  top: 390px;
}
.nft {
  left: 101px;
  letter-spacing: 0.9px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 51px;
}
.overlap-group-3 {
  background-color: var(--black);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 16px;
  height: 120px;
  position: relative;
  width: 240px;
}
.overlap-group-4 {
  height: 900px;
  position: relative;
  width: 1441px;
}
.rectangle-7 {
  height: 120px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 240px;
}
.synthetics {
  align-items: flex-start;
  display: flex;
  height: 120px;
  left: 864px;
  min-width: 244px;
  position: absolute;
  top: 390px;
}
.synthetics-1 {
  left: 71px;
  letter-spacing: 0.9px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 48px;
}
.text-8 {
  left: 532px;
  letter-spacing: 0.8px;
  line-height: 35px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 307px;
  white-space: nowrap;
}
