.favoriteborder {
  align-items: flex-end;
  display: flex;
  height: 24px;
  margin-left: 6px;
  min-width: 24px;
  padding: 2.3px 2px;
}
.favoriteborder-1 {
  align-items: flex-end;
  display: flex;
  height: 24px;
  margin-left: 6px;
  min-width: 24px;
  padding: 2.3px 2px;
}
.favoriteborder-3 {
  align-items: flex-end;
  display: flex;
  height: 24px;
  margin-left: 6px;
  min-width: 24px;
  padding: 2.3px 2px;
}
.favoriteborder-3.favoriteborder-2 {
  left: 279px;
  margin-left: unset;
  position: absolute;
  top: 16px;
}
.overlap-group-6 {
  height: 19px;
  position: relative;
  width: 20px;
}
.overlap-group-7 {
  height: 19px;
  position: relative;
  width: 20px;
}
.overlap-group2-9 {
  height: 19px;
  position: relative;
  width: 20px;
}
.vector-2 {
  height: 1px;
  left: 10px;
  position: absolute;
  top: 9px;
  width: 1px;
}
.vector-4 {
  height: 19px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 20px;
}
.vector-5 {
  height: 1px;
  left: 10px;
  position: absolute;
  top: 9px;
  width: 1px;
}
.vector-6 {
  height: 19px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 20px;
}
.vector-7 {
  height: 1px;
  left: 10px;
  position: absolute;
  top: 9px;
  width: 1px;
}
.vector-8 {
  height: 19px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 20px;
}
