.accordion-black-4 {
  align-self: center;
  background-size: 100% 100%;
  height: 12px;
  margin-right: 3px;
  width: 12px;
}
.accordion-black-6 {
  align-self: center;
  background-size: 100% 100%;
  height: 12px;
  margin-right: 3px;
  width: 12px;
}
.group-641 {
  align-items: flex-start;
  display: flex;
  height: 80px;
  margin-left: 2px;
  margin-top: 17px;
  min-width: 153px;
}
.group-641-2 {
  align-items: flex-start;
  display: flex;
  height: 80px;
  margin-left: 2px;
  margin-top: 17px;
  min-width: 153px;
}
.group-641.group-641-1 {
  margin-left: 23px;
}
.group-641.group-641-3 {
  left: 281px;
  margin-left: unset;
  margin-top: unset;
  position: absolute;
  top: 726px;
}
.new-collection {
  letter-spacing: 0;
  margin-top: 12px;
  min-height: 15px;
  min-width: 111px;
  mix-blend-mode: normal;
  text-align: center;
  width: 111px;
}
.new-collection-2 {
  letter-spacing: 0;
  margin-top: 12px;
  min-height: 15px;
  min-width: 111px;
  mix-blend-mode: normal;
  text-align: center;
  width: 111px;
}
.overlap-group4 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 80px;
  padding: 20px 18px;
  width: 151px;
}
.overlap-group4-2 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 80px;
  padding: 20px 18px;
  width: 151px;
}
