.ellipse-4 {
  background-color: var(--shamrock);
  border-radius: 11px;
  height: 22px;
  mix-blend-mode: normal;
  width: 22px;
}
.group-713 {
  align-items: center;
  background-color: var(--chateau-green);
  border-radius: 32px;
  display: flex;
  height: 24px;
  justify-content: flex-end;
  left: 657px;
  min-width: 48px;
  padding: 0 2px;
  position: absolute;
  top: 854px;
}
.group-713.group-945 {
  top: 944px;
}
.group-713.group-946 {
  top: 1107px;
}
