.ellipse-5 {
  background-color: #dfdfdf;
  border-radius: 11px;
  height: 22px;
  mix-blend-mode: normal;
  width: 22px;
}
.slider {
  align-items: center;
  background-color: #b1b1b1;
  border-radius: 32px;
  cursor: pointer;
  display: flex;
  height: 24px;
  margin-bottom: 18px;
  margin-left: 200px;
  min-width: 48px;
  padding: 0 2px;
}
