.group-926 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 14px;
  min-height: 50px;
  width: 209px;
}
.group-926-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 14px;
  min-height: 50px;
  width: 209px;
}
.group-926-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 14px;
  min-height: 50px;
  width: 209px;
}
.group-926.group-926-3 {
  left: 504px;
  margin-left: unset;
  position: absolute;
  top: 559px;
}
.line-125-12 {
  height: 1px;
  margin-top: 7px;
  width: 205px;
}
.line-125-13 {
  height: 1px;
  margin-top: 7px;
  width: 205px;
}
.line-125-14 {
  height: 1px;
  margin-top: 7px;
  width: 205px;
}
.number-4 {
  letter-spacing: 1px;
  margin-left: 2px;
  margin-top: 6px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.number-5 {
  letter-spacing: 1px;
  margin-left: 2px;
  margin-top: 6px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.number-6 {
  letter-spacing: 1px;
  margin-left: 2px;
  margin-top: 6px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.number-of-copies {
  letter-spacing: 0.7px;
  margin-left: 2px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.number-of-copies-1 {
  letter-spacing: 0.7px;
  margin-left: 2px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.number-of-copies-2 {
  letter-spacing: 0.7px;
  margin-left: 2px;
  min-height: 18px;
  mix-blend-mode: normal;
}
