.accesstime {
  align-items: center;
  display: flex;
  height: 24px;
  margin-left: 801px;
  min-width: 24px;
  padding: 0 2px;
}
.address-6 {
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 16px;
  min-height: 18px;
  min-width: 48px;
  mix-blend-mode: normal;
  text-align: right;
}
.closing-22h-10m {
  letter-spacing: 0.7px;
  margin-left: 12px;
  min-height: 18px;
  min-width: 141px;
  mix-blend-mode: normal;
}
.collection-2 {
  letter-spacing: 0.7px;
  min-height: 18px;
  min-width: 74px;
  mix-blend-mode: normal;
}
.collection-3 {
  height: 10px;
  left: 88px;
  mix-blend-mode: normal;
  position: absolute;
  top: 23px;
  width: 56px;
}
.collection-name-1 {
  left: 88px;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 36px;
}
.community-1 {
  letter-spacing: 0.8px;
  line-height: 35px;
  margin-left: 22px;
  min-height: 35px;
  min-width: 107px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
}
.connect-wallet-2 {
  letter-spacing: 0.8px;
  line-height: 35px;
  margin-left: 11px;
  min-height: 35px;
  min-width: 132px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
}
.creator-2 {
  height: 10px;
  margin-top: 13px;
  mix-blend-mode: normal;
  width: 43px;
}
.desktop-21 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2060px;
  mix-blend-mode: normal;
  overflow: hidden;
  width: 1440px;
}
.details-2 {
  letter-spacing: 0.7px;
  min-height: 18px;
  min-width: 53px;
  mix-blend-mode: normal;
}
.ellipse-2-7 {
  align-self: center;
  background-color: var(--mercury);
  border-radius: 22.5px;
  height: 45px;
  mix-blend-mode: normal;
  width: 45px;
}
.ellipse-5-4 {
  height: 48px;
  left: 24px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 48px;
}
.ellipse-78-1 {
  border-radius: 7.5px;
  height: 15px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 15px;
}
.ellipse-8-1 {
  background-color: var(--manatee);
  border-radius: 2px;
  height: 4px;
  margin-top: 2px;
  mix-blend-mode: normal;
  width: 4px;
}
.ellipse-86-1 {
  background-color: var(--manatee);
  border-radius: 2px;
  height: 4px;
  mix-blend-mode: normal;
  width: 4px;
}
.ellipse-89-4 {
  background-color: var(--alto);
  border-radius: 20px;
  height: 40px;
  margin-bottom: 0.08px;
  mix-blend-mode: normal;
  width: 40px;
}
.ellipse-89-5 {
  background-color: var(--alto);
  border-radius: 20px;
  height: 40px;
  mix-blend-mode: normal;
  width: 40px;
}
.explore-1 {
  letter-spacing: 0.8px;
  line-height: 35px;
  margin-left: 182px;
  min-height: 35px;
  min-width: 79px;
  mix-blend-mode: normal;
  text-align: right;
  white-space: nowrap;
}
.feel-the-freedom-4 {
  letter-spacing: 1px;
  line-height: 24px;
  min-height: 24px;
  min-width: 33px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.fill-1-2 {
  height: 2px;
  margin-left: 577px;
  mix-blend-mode: normal;
  width: 12px;
}
.fill-1-3 {
  height: 2px;
  margin-left: 556px;
  mix-blend-mode: normal;
  width: 12px;
}
.flex-col-20 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 48px;
  min-height: 46px;
  width: 1243px;
}
.flex-col-21 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 124px;
  min-height: 532px;
  width: 439px;
}
.flex-col-22 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 1px;
  min-height: 34px;
  width: 43px;
}
.flex-row-31 {
  align-items: center;
  display: flex;
  min-width: 1243px;
  position: relative;
}
.flex-row-32 {
  align-items: flex-start;
  display: flex;
  height: 1160px;
  min-width: 1340px;
}
.flex-row-33 {
  align-items: center;
  display: flex;
  height: 18px;
  margin-top: 32px;
  min-width: 642px;
}
.flex-row-34 {
  align-items: flex-start;
  display: flex;
  margin-top: 31px;
  min-width: 654px;
}
.flex-row-35 {
  align-items: flex-start;
  display: flex;
  margin-top: 15px;
  min-width: 433px;
}
.flex-row-36 {
  align-items: center;
  display: flex;
  height: 18px;
  margin-top: 39px;
  min-width: 642px;
}
.flex-row-37 {
  align-items: center;
  display: flex;
  height: 24px;
  margin-left: 1px;
  min-width: 432px;
}
.flex-row-38 {
  align-items: flex-start;
  display: flex;
  min-width: 1344px;
  position: relative;
}
.group-204-1 {
  align-items: flex-end;
  display: flex;
  height: 19px;
  margin-top: 4px;
  min-width: 17px;
}
.group-454-8 {
  align-items: flex-start;
  display: flex;
  margin-left: 22px;
  min-width: 195px;
}
.group-454-9 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  left: 0;
  min-width: 435px;
  position: absolute;
  top: 118px;
}
.group-638-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  min-height: 41px;
  padding: 3px 0;
  width: 48px;
}
.group-638-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  min-height: 41px;
  padding: 3px 0.5px;
  width: 48px;
}
.group-638-7 {
  align-items: center;
  display: flex;
  height: 41px;
  margin-left: 12px;
  margin-top: 0;
  min-width: 227px;
  padding: 2.1px 0;
}
.group-639-1 {
  align-items: flex-end;
  display: flex;
  height: 41px;
  margin-left: 241px;
  min-width: 96px;
}
.group-640-1 {
  align-items: flex-start;
  display: flex;
  margin-left: 1px;
  margin-top: 23px;
  min-width: 273px;
}
.group-641-5 {
  align-items: flex-start;
  display: flex;
  margin-top: 15px;
  min-width: 321px;
}
.group-643-1 {
  align-items: flex-start;
  display: flex;
  height: 288px;
  left: 0;
  min-width: 439px;
  position: absolute;
  top: 0;
}
.group-644-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 123px;
  width: 64px;
}
.group-644-item-1 {
  letter-spacing: 0.7px;
  margin-top: 16px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.group-646-1 {
  align-items: flex-end;
  display: flex;
  height: 41px;
  min-width: 96px;
}
.group-648-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 49px;
  min-height: 1160px;
  width: 664px;
}
.group-649-1 {
  align-items: flex-start;
  display: flex;
  height: 621px;
  margin-right: 4px;
  margin-top: 56px;
  min-width: 1444px;
}
.group-650-1 {
  align-items: center;
  display: flex;
  height: 24px;
  min-width: 51px;
  position: relative;
}
.group-937 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  min-height: 1837px;
  width: 1448px;
}
.header-6 {
  align-items: flex-start;
  display: flex;
  height: 135px;
  margin-left: 1px;
  min-width: 1448px;
  padding: 44px 53px;
}
.highest-bid-1 {
  height: 12px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 26px;
  width: 63px;
}
.history-1 {
  letter-spacing: 0.7px;
  margin-top: 15px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.info-1 {
  letter-spacing: 0.7px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.learn-1 {
  letter-spacing: 0.8px;
  line-height: 35px;
  margin-left: 22px;
  min-height: 35px;
  min-width: 59px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
}
.line-1-1 {
  height: 31px;
  margin-left: 45px;
  width: 1px;
}
.line-117-1 {
  height: 1px;
  width: 477px;
}
.line-119-1 {
  height: 1px;
  margin-left: 1px;
  margin-top: 19px;
  mix-blend-mode: normal;
  width: 432px;
}
.line-120-1 {
  height: 1px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 432px;
}
.line-121-1 {
  height: 1px;
  margin-top: 13px;
  mix-blend-mode: normal;
  width: 656px;
}
.line-122-1 {
  height: 1px;
  margin-top: 12px;
  mix-blend-mode: normal;
  width: 656px;
}
.line-123-1 {
  height: 1px;
  mix-blend-mode: normal;
  width: 317px;
}
.line-124-1 {
  height: 1px;
  margin-left: 20px;
  mix-blend-mode: normal;
  width: 317px;
}
.line-67-1 {
  height: 8px;
  left: 10px;
  position: absolute;
  top: 12px;
  width: 8px;
}
.melvin-3 {
  height: 11px;
  margin-left: 1px;
  mix-blend-mode: normal;
  width: 42px;
}
.melvin-4 {
  height: 11px;
  margin-left: 0.5px;
  mix-blend-mode: normal;
  width: 42px;
}
.menu-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 383px;
  min-height: 16px;
  transform: rotate(-90deg);
  width: 16px;
}
.motorcycles-21 {
  letter-spacing: 0.5px;
  line-height: 24px;
  margin-top: 15px;
  min-height: 72px;
  mix-blend-mode: normal;
  width: 658px;
}
.motorcycles-22 {
  letter-spacing: 0.5px;
  line-height: 24px;
  margin-top: 24px;
  min-height: 72px;
  mix-blend-mode: normal;
  width: 658px;
}
.motorcycles-23 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 8px;
  min-height: 30px;
  mix-blend-mode: normal;
}
.motorcycles-24 {
  left: 2px;
  letter-spacing: 0.5px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  top: 179px;
  white-space: nowrap;
}
.motorcycles-25 {
  height: 48px;
  left: 0;
  letter-spacing: 0;
  line-height: 48px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}
.motorcycles-26 {
  height: 18px;
  left: 263px;
  letter-spacing: 0.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  text-decoration: underline;
  top: 18px;
}
.number-11 {
  letter-spacing: 0;
  min-height: 18px;
  min-width: 19px;
  mix-blend-mode: normal;
  text-align: right;
}
.overlap-group-10 {
  align-items: center;
  background-color: var(--cultured-pearl);
  display: flex;
  height: 56px;
  justify-content: flex-end;
  min-width: 1440px;
  padding: 0 50px;
}
.overlap-group1-11 {
  height: 20px;
  margin-bottom: -1px;
  position: relative;
  width: 18px;
}
.overlap-group1-12 {
  background-size: 100% 100%;
  height: 20px;
  position: relative;
  width: 20px;
}
.overlap-group1-13 {
  height: 288px;
  position: relative;
  width: 435px;
}
.overlap-group1-14 {
  height: 518px;
  margin-left: 12px;
  position: relative;
  width: 327px;
}
.overlap-group2-10 {
  background-position: 50% 50%;
  background-size: cover;
  height: 80px;
  position: relative;
  width: 317px;
}
.overlap-group2-11 {
  height: 48px;
  position: relative;
  width: 435px;
}
.overlap-group2-12 {
  height: 518px;
  position: relative;
  width: 327px;
}
.overlap-group3-15 {
  align-items: flex-start;
  border-radius: 25px;
  display: flex;
  height: 45px;
  min-width: 193px;
  padding: 4px 11px;
}
.overlap-group3-16 {
  align-items: flex-start;
  background-color: var(--cararra-2);
  display: flex;
  height: 656px;
  justify-content: flex-end;
  min-width: 656px;
  padding: 16px 14px;
}
.overlap-group4-6 {
  height: 288px;
  margin-top: 23px;
  position: relative;
  width: 439px;
}
.overlap-group5-1 {
  align-items: flex-end;
  background-color: var(--cultured-pearl);
  display: flex;
  flex-direction: column;
  min-height: 621px;
  padding: 40px 44px;
  position: relative;
  width: 1440px;
}
.owner-1 {
  height: 10px;
  margin-top: 13px;
  mix-blend-mode: normal;
  width: 37px;
}
.place-a-bid-1 {
  left: 0;
  letter-spacing: 0.8px;
  line-height: 35px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  white-space: nowrap;
  width: 435px;
}
.rectangle-383-1 {
  background-color: var(--white);
  height: 288px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 432px;
}
.rectangle-738-1 {
  height: 80px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 317px;
}
.rectangle-744-1 {
  background-color: var(--blaze-orange);
  height: 2px;
  margin-top: 2px;
  mix-blend-mode: normal;
  width: 28px;
}
.sign-up-button-3 {
  background-color: var(--black);
  border-radius: 16px;
  height: 48px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 433px;
}
.span0-1 {
  letter-spacing: 0.07px;
}
.span1-1 {
  letter-spacing: 0.07px;
  text-decoration: underline;
}
.text-16 {
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 16px;
  margin-top: 4px;
  min-height: 35px;
  min-width: 306px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.text-17 {
  letter-spacing: 0.7px;
  min-height: 18px;
  min-width: 358px;
  mix-blend-mode: normal;
}
.vector-10 {
  align-self: center;
  height: 22px;
  margin-bottom: 1px;
  mix-blend-mode: normal;
  width: 22px;
}
.vector-11 {
  height: 1px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 1px;
}
.vector-12 {
  height: 10px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 5px;
  width: 6px;
}
.x0005-eth-21477-1 {
  left: 1px;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 48px;
}
.x02-eth-21477-1 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 16px;
  min-height: 23px;
}
.x10-of-sales-will-go-to-creator-1 {
  align-self: flex-end;
  height: 12px;
  margin-left: 10px;
  mix-blend-mode: normal;
  width: 167px;
}
