.accesstime {
  align-items: center;
  display: flex;
  height: 24px;
  margin-left: 801px;
  min-width: 24px;
  padding: 0 2px;
}
.address-2 {
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 16px;
  min-height: 18px;
  min-width: 48px;
  mix-blend-mode: normal;
  text-align: right;
}
.bodhi5000 {
  align-self: center;
  height: 11px;
  margin-left: 8px;
  mix-blend-mode: normal;
  width: 72px;
}
.closing-22h-10m {
  letter-spacing: 0.7px;
  margin-left: 12px;
  min-height: 18px;
  min-width: 141px;
  mix-blend-mode: normal;
}
.collection {
  letter-spacing: 0.7px;
  min-height: 18px;
  min-width: 74px;
  mix-blend-mode: normal;
}
.collection-1 {
  height: 10px;
  left: 88px;
  mix-blend-mode: normal;
  position: absolute;
  top: 23px;
  width: 56px;
}
.collection-name {
  left: 88px;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 36px;
}
.creator {
  height: 10px;
  margin-top: 13px;
  mix-blend-mode: normal;
  width: 43px;
}
.details-1 {
  letter-spacing: 0.7px;
  min-height: 18px;
  min-width: 53px;
  mix-blend-mode: normal;
}
.ellipse-5-1 {
  height: 48px;
  left: 24px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 48px;
}
.ellipse-89 {
  background-color: var(--alto);
  border-radius: 8px;
  height: 16px;
  mix-blend-mode: normal;
  width: 16px;
}
.favoriteborder {
  align-items: flex-end;
  display: flex;
  height: 24px;
  margin-left: 6px;
  min-width: 24px;
  padding: 2.3px 2px;
}
.feel-the-freedom-3 {
  letter-spacing: 1px;
  line-height: 24px;
  min-height: 24px;
  min-width: 33px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.fill-1 {
  height: 2px;
  margin-left: 577px;
  mix-blend-mode: normal;
  width: 12px;
}
.fill-1-1 {
  height: 2px;
  margin-left: 556px;
  mix-blend-mode: normal;
  width: 12px;
}
.flex-col-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 124px;
  min-height: 532px;
  width: 439px;
}
.flex-col-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 1px;
  min-height: 34px;
  width: 43px;
}
.flex-row-10 {
  align-items: flex-start;
  display: flex;
  margin-top: 31px;
  min-width: 654px;
}
.flex-row-11 {
  align-items: flex-start;
  display: flex;
  margin-top: 15px;
  min-width: 433px;
  position: relative;
}
.flex-row-12 {
  align-items: center;
  display: flex;
  height: 18px;
  margin-top: 39px;
  min-width: 642px;
}
.flex-row-13 {
  align-items: center;
  display: flex;
  height: 24px;
  margin-left: 1px;
  min-width: 432px;
  position: relative;
}
.flex-row-14 {
  align-items: flex-start;
  display: flex;
  min-width: 1344px;
  position: relative;
}
.flex-row-8 {
  align-items: flex-start;
  display: flex;
  height: 1160px;
  min-width: 1340px;
  position: relative;
}
.flex-row-9 {
  align-items: center;
  display: flex;
  height: 18px;
  margin-top: 32px;
  min-width: 642px;
}
.group-454 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  left: 0;
  min-width: 435px;
  position: absolute;
  top: 118px;
}
.group-638 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  min-height: 41px;
  padding: 3px 0;
  width: 48px;
}
.group-638-1 {
  align-items: center;
  display: flex;
  height: 41px;
  margin-left: 12px;
  margin-top: 0;
  min-width: 227px;
  padding: 2.1px 0;
}
.group-638-2 {
  align-items: flex-start;
  display: flex;
  height: 19px;
  left: 336px;
  min-width: 99px;
  padding: 1px 0;
  position: absolute;
  top: 55px;
}
.group-640 {
  align-items: flex-start;
  display: flex;
  margin-left: 1px;
  margin-top: 23px;
  min-width: 273px;
  position: relative;
}
.group-641 {
  align-items: flex-start;
  display: flex;
  margin-top: 15px;
  min-width: 321px;
}
.group-643 {
  align-items: flex-start;
  display: flex;
  height: 288px;
  left: 0;
  min-width: 439px;
  position: absolute;
  top: 0;
}
.group-646 {
  align-items: flex-end;
  display: flex;
  height: 41px;
  min-width: 96px;
  position: relative;
}
.group-648 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 49px;
  min-height: 1160px;
  width: 664px;
}
.group-649 {
  align-items: flex-start;
  display: flex;
  height: 621px;
  margin-right: 4px;
  margin-top: 56px;
  min-width: 1444px;
}
.group-650 {
  align-items: center;
  display: flex;
  min-width: 51px;
}
.group-937 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  min-height: 1837px;
  width: 1448px;
}
.highest-bid {
  height: 12px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 26px;
  width: 63px;
}
.line-119 {
  height: 1px;
  margin-left: 1px;
  margin-top: 19px;
  mix-blend-mode: normal;
  width: 432px;
}
.line-120 {
  height: 1px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 432px;
}
.line-121 {
  height: 1px;
  margin-top: 13px;
  mix-blend-mode: normal;
  width: 656px;
}
.line-122 {
  height: 1px;
  margin-top: 12px;
  mix-blend-mode: normal;
  width: 656px;
}
.line-123 {
  height: 1px;
  mix-blend-mode: normal;
  width: 317px;
}
.line-124 {
  height: 1px;
  margin-left: 20px;
  mix-blend-mode: normal;
  width: 317px;
}
.melvin {
  height: 11px;
  margin-left: 1px;
  mix-blend-mode: normal;
  width: 42px;
}
.motorcycles-10 {
  height: 48px;
  left: 0;
  letter-spacing: 0;
  line-height: 48px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}
.motorcycles-11 {
  height: 18px;
  left: 263px;
  letter-spacing: 0.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  text-decoration: underline;
  top: 18px;
}
.motorcycles-6 {
  letter-spacing: 0.5px;
  line-height: 24px;
  margin-top: 15px;
  min-height: 72px;
  mix-blend-mode: normal;
  width: 658px;
}
.motorcycles-7 {
  letter-spacing: 0.5px;
  line-height: 24px;
  margin-top: 24px;
  min-height: 72px;
  mix-blend-mode: normal;
  width: 658px;
}
.motorcycles-8 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 8px;
  min-height: 30px;
  mix-blend-mode: normal;
}
.motorcycles-9 {
  left: 2px;
  letter-spacing: 0.5px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  top: 179px;
  white-space: nowrap;
}
.number-3 {
  letter-spacing: 0;
  min-height: 18px;
  min-width: 19px;
  mix-blend-mode: normal;
  text-align: right;
}
.overlap-group-6 {
  align-items: center;
  background-color: var(--cultured-pearl);
  display: flex;
  height: 56px;
  justify-content: flex-end;
  min-width: 1440px;
  padding: 0 50px;
}
.overlap-group1-10 {
  height: 518px;
  margin-left: 12px;
  position: relative;
  width: 327px;
}
.overlap-group1-7 {
  background-size: 100% 100%;
  height: 20px;
  position: relative;
  width: 20px;
}
.overlap-group1-8 {
  height: 19px;
  position: relative;
  width: 20px;
}
.overlap-group1-9 {
  height: 288px;
  position: relative;
  width: 435px;
}
.overlap-group2-3 {
  background-position: 50% 50%;
  background-size: cover;
  height: 80px;
  position: relative;
  width: 317px;
}
.overlap-group2-4 {
  height: 48px;
  position: relative;
  width: 435px;
}
.overlap-group2-5 {
  height: 518px;
  position: relative;
  width: 327px;
}
.overlap-group3-3 {
  align-items: flex-start;
  background-color: #ebebeb;
  display: flex;
  height: 656px;
  justify-content: flex-end;
  min-width: 656px;
  padding: 16px 14px;
}
.overlap-group4-1 {
  height: 288px;
  margin-top: 23px;
  position: relative;
  width: 439px;
}
.overlap-group5-1 {
  align-items: flex-end;
  background-color: var(--cultured-pearl);
  display: flex;
  flex-direction: column;
  min-height: 621px;
  padding: 40px 44px;
  position: relative;
  width: 1440px;
}
.place-a-bid-1 {
  left: 0;
  letter-spacing: 0.8px;
  line-height: 35px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  white-space: nowrap;
  width: 435px;
}
.productpage {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2060px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: relative;
  width: 1440px;
}
.rectangle-383 {
  background-color: var(--white);
  height: 288px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 432px;
}
.rectangle-738 {
  height: 80px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 317px;
}
.sign-up-button {
  background-color: var(--black);
  border-radius: 16px;
  height: 48px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 433px;
}
.span0 {
  letter-spacing: 0.07px;
}
.span0-1 {
  color: var(--black);
}
.span1 {
  color: var(--sonic-silver);
}
.span1-1 {
  color: var(--black);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-weight: 800;
  letter-spacing: 0.07px;
  text-decoration: underline;
}
.span2 {
  color: var(--quick-silver);
}
.text-10 {
  letter-spacing: 0.7px;
  min-height: 18px;
  min-width: 358px;
  mix-blend-mode: normal;
}
.vector {
  height: 1px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 1px;
}
.vector-1 {
  height: 10px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 5px;
  width: 6px;
}
.vector-2 {
  height: 1px;
  left: 10px;
  position: absolute;
  top: 9px;
  width: 1px;
}
.vector-4 {
  height: 19px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 20px;
}
.x0005-eth-21477 {
  color: transparent;
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  left: 1px;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 48px;
}
.x02-eth-21477 {
  color: transparent;
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xl);
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 16px;
  min-height: 23px;
}
.x10-of-sales-will-go-to-creator {
  align-self: flex-end;
  height: 12px;
  margin-left: 10px;
  mix-blend-mode: normal;
  width: 167px;
}
