.connect-wallet {
  letter-spacing: 0.8px;
  line-height: 35px;
  margin-left: 13px;
  min-height: 35px;
  min-width: 132px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
}
.connect-wallet-1 {
  letter-spacing: 0.8px;
  line-height: 35px;
  margin-left: 13px;
  min-height: 35px;
  min-width: 132px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
}
.group-454-6 {
  align-items: flex-start;
  display: flex;
  margin-left: 22px;
  min-width: 195px;
}
.group-454-7 {
  align-items: flex-start;
  display: flex;
  margin-left: 22px;
  min-width: 195px;
}
.overlap-group2-8 {
  align-items: flex-start;
  border-radius: 25px;
  display: flex;
  height: 45px;
  min-width: 193px;
  padding: 4px 13px;
}
.overlap-group4-5 {
  align-items: flex-start;
  border-radius: 25px;
  display: flex;
  height: 45px;
  min-width: 193px;
  padding: 4px 13px;
}
.vector {
  align-self: center;
  height: 18px;
  margin-bottom: 1px;
  mix-blend-mode: normal;
  width: 18px;
}
.vector-1 {
  align-self: center;
  height: 18px;
  margin-bottom: 1px;
  mix-blend-mode: normal;
  width: 18px;
}
