.avatar-1 {
  background-color: var(--mercury);
  border-radius: 22.5px;
  height: 45px;
  mix-blend-mode: normal;
  width: 45px;
}
.close-icon-1 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-left: 1197px;
  min-width: 47px;
}
.dropdown-icon {
  height: 25px;
  margin-bottom: 10.37px;
  margin-left: 20px;
  width: 26px;
}
.header {
  align-items: center;
  display: flex;
  height: 135px;
  justify-content: flex-end;
  left: 0;
  min-width: 1440px;
  padding: 44px 51.7px;
  position: absolute;
  top: 0;
}
.header.header-1 {
  left: 1px;
}
.overlap-group3-2 {
  align-items: flex-start;
  border-radius: 25px;
  display: flex;
  height: 45px;
  justify-content: flex-end;
  min-width: 45px;
  padding: 4px 19.8px;
}
.x-1 {
  letter-spacing: 0.8px;
  line-height: 35px;
  min-height: 35px;
  min-width: 5px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 10px;
}
