.frame-2 {
  align-items: center;
  background-color: var(--cultured-pearl);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  height: 80px;
  justify-content: flex-end;
  left: 202px;
  min-width: 145px;
  mix-blend-mode: normal;
  padding: 0 46px;
  position: absolute;
  top: 2957px;
}
.motorcycles-32 {
  height: 48px;
  letter-spacing: 0;
  line-height: 48px;
  min-height: 48px;
  min-width: 51px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
