.create-item {
  letter-spacing: 0.8px;
  line-height: 35px;
  min-height: 35px;
  min-width: 100px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
}
.create-item-2 {
  letter-spacing: 0.8px;
  line-height: 35px;
  min-height: 35px;
  min-width: 100px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
}
.group-930 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-right: 10px;
  margin-top: 48px;
  min-width: 150px;
}
.group-930-2 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-right: 10px;
  margin-top: 48px;
  min-width: 150px;
}
.group-930.group-930-1 {
  margin-right: 17px;
  margin-top: 40px;
}
.group-930.group-930-1 .overlap-group5 {
  border-radius: 16px;
}
.group-930.group-930-3 {
  align-self: unset;
  height: 45px;
  left: 563px;
  margin-right: unset;
  margin-top: unset;
  position: absolute;
  top: 1294px;
}
.group-930.group-930-3 .overlap-group5 {
  border-radius: 16px;
}
.overlap-group5 {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 25px;
  display: flex;
  height: 45px;
  min-width: 148px;
  padding: 4px 21px;
}
.overlap-group5-2 {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 25px;
  display: flex;
  height: 45px;
  min-width: 148px;
  padding: 4px 21px;
}
