.group-454 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-left: 1197px;
  min-width: 47px;
}
.group-454-1 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-left: 1197px;
  min-width: 47px;
}
.group-454-2 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-left: 1197px;
  min-width: 47px;
}
.group-454-3 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-left: 1197px;
  min-width: 47px;
}
.group-454-4 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-left: 1197px;
  min-width: 47px;
}
.overlap-group1-3 {
  align-items: flex-start;
  border-radius: 25px;
  display: flex;
  height: 45px;
  justify-content: flex-end;
  min-width: 45px;
  padding: 4px 19.8px;
}
.overlap-group3 {
  align-items: flex-start;
  border-radius: 25px;
  display: flex;
  height: 45px;
  justify-content: flex-end;
  min-width: 45px;
  padding: 4px 19.8px;
}
.overlap-group3-1 {
  align-items: flex-start;
  border-radius: 25px;
  display: flex;
  height: 45px;
  justify-content: flex-end;
  min-width: 45px;
  padding: 4px 19.8px;
}
.overlap-group3-2 {
  align-items: flex-start;
  border-radius: 25px;
  display: flex;
  height: 45px;
  justify-content: flex-end;
  min-width: 45px;
  padding: 4px 19.8px;
}
.overlap-group3-3 {
  align-items: flex-start;
  border-radius: 25px;
  display: flex;
  height: 45px;
  justify-content: flex-end;
  min-width: 45px;
  padding: 4px 19.8px;
}
.x {
  letter-spacing: 0.8px;
  line-height: 35px;
  min-height: 35px;
  min-width: 5px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 5px;
}
.x-1 {
  letter-spacing: 0.8px;
  line-height: 35px;
  min-height: 35px;
  min-width: 5px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 5px;
}
.x-2 {
  letter-spacing: 0.8px;
  line-height: 35px;
  min-height: 35px;
  min-width: 5px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 5px;
}
.x-3 {
  letter-spacing: 0.8px;
  line-height: 35px;
  min-height: 35px;
  min-width: 5px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 5px;
}
.x-4 {
  letter-spacing: 0.8px;
  line-height: 35px;
  min-height: 35px;
  min-width: 5px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 5px;
}
