.address-3 {
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 16px;
  min-height: 18px;
  min-width: 48px;
  mix-blend-mode: normal;
  text-align: right;
}
.address-4 {
  left: 333px;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 431px;
}
.bid {
  left: 0;
  letter-spacing: 0.8px;
  line-height: 35px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  white-space: nowrap;
  width: 435px;
}
.by-melvin {
  height: 15px;
  margin-right: 89px;
  margin-top: 13px;
  width: 60px;
}
.collection {
  letter-spacing: 0.7px;
  min-height: 18px;
  min-width: 74px;
  mix-blend-mode: normal;
}
.collection-1 {
  height: 1px;
  margin-left: 28px;
  mix-blend-mode: normal;
  width: 1px;
}
.collection-name {
  left: 0;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
}
.community {
  letter-spacing: 0.8px;
  line-height: 35px;
  margin-left: 22px;
  min-height: 35px;
  min-width: 107px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
}
.creator {
  height: 1px;
  margin-top: 22px;
  mix-blend-mode: normal;
  width: 1px;
}
.creator-1 {
  height: 10px;
  margin-top: 13px;
  mix-blend-mode: normal;
  width: 43px;
}
.crypto-wheel-30-smoked {
  height: 13px;
  margin-left: 5px;
  margin-top: 3px;
  mix-blend-mode: normal;
  width: 249px;
}
.desktop-18 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 899px;
  mix-blend-mode: normal;
  overflow: hidden;
  width: 1440px;
}
.details {
  letter-spacing: 0.7px;
  min-height: 18px;
  min-width: 53px;
  mix-blend-mode: normal;
}
.details-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 199px;
  padding: 0 32px;
  position: absolute;
  top: 567px;
  width: 445px;
}
.ellipse-2-6 {
  align-self: center;
  background-color: var(--mercury);
  border-radius: 22.5px;
  height: 45px;
  mix-blend-mode: normal;
  width: 45px;
}
.ellipse-5-3 {
  height: 1px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 1px;
}
.ellipse-78 {
  border-radius: 7.5px;
  height: 15px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 15px;
}
.ellipse-8 {
  background-color: var(--manatee);
  border-radius: 2px;
  height: 4px;
  margin-top: 2px;
  mix-blend-mode: normal;
  width: 4px;
}
.ellipse-86 {
  background-color: var(--manatee);
  border-radius: 2px;
  height: 4px;
  mix-blend-mode: normal;
  width: 4px;
}
.ellipse-89 {
  background-color: var(--alto);
  border-radius: 20px;
  height: 40px;
  margin-bottom: 0.08px;
  mix-blend-mode: normal;
  width: 40px;
}
.ellipse-89-1 {
  background-color: var(--alto);
  border-radius: 20px;
  height: 40px;
  mix-blend-mode: normal;
  width: 40px;
}
.enter-bid {
  align-self: center;
  color: var(--sonic-silver);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xxl);
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 2px;
  min-height: 30px;
  min-width: 108px;
  mix-blend-mode: normal;
}
.explore {
  letter-spacing: 0.8px;
  line-height: 35px;
  margin-left: 182px;
  min-height: 35px;
  min-width: 79px;
  mix-blend-mode: normal;
  text-align: right;
  white-space: nowrap;
}
.feel-the-freedom-2 {
  letter-spacing: 1px;
  line-height: 24px;
  min-height: 24px;
  min-width: 33px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.feel-the-freedom-3 {
  align-self: flex-start;
  letter-spacing: 1px;
  line-height: 24px;
  min-height: 24px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.fill-1 {
  height: 2px;
  margin-left: 577px;
  mix-blend-mode: normal;
  width: 12px;
}
.fill-1-1 {
  height: 1px;
  margin-left: 561px;
  mix-blend-mode: normal;
  width: 1px;
}
.flex-col-12 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 48px;
  min-height: 46px;
  width: 1243px;
}
.flex-col-13 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 39px;
  min-height: 32px;
  width: 175px;
}
.flex-col-14 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 124px;
  min-height: 532px;
  width: 439px;
}
.flex-col-15 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 1px;
  min-height: 34px;
  width: 43px;
}
.flex-col-16 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 87px;
  width: 78px;
}
.flex-col-17 {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 194px;
  min-height: 87px;
  width: 96px;
}
.flex-col-18 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5px;
  margin-left: 24px;
  min-height: 68px;
  width: 254px;
}
.flex-row-21 {
  align-items: center;
  display: flex;
  height: 45px;
  min-width: 1243px;
  position: relative;
}
.flex-row-22 {
  align-items: flex-start;
  display: flex;
  height: 1160px;
  margin-right: 1px;
  margin-top: 11px;
  min-width: 1340px;
}
.flex-row-23 {
  align-items: center;
  display: flex;
  height: 18px;
  margin-top: 32px;
  min-width: 642px;
}
.flex-row-24 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-right: 10px;
  margin-top: 31px;
  min-width: 338px;
}
.flex-row-25 {
  align-items: flex-start;
  display: flex;
  margin-top: 15px;
  min-width: 433px;
}
.flex-row-26 {
  align-items: center;
  display: flex;
  height: 18px;
  margin-top: 39px;
  min-width: 636px;
}
.flex-row-27 {
  align-items: center;
  display: flex;
  height: 24px;
  margin-left: 1px;
  min-width: 432px;
}
.flex-row-28 {
  align-items: flex-start;
  display: flex;
  min-width: 1344px;
  position: relative;
}
.flex-row-29 {
  align-items: flex-start;
  display: flex;
  height: 88px;
  min-width: 368px;
}
.group-204 {
  align-items: flex-end;
  display: flex;
  height: 19px;
  margin-top: 4px;
  min-width: 17px;
}
.group-454-5 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  left: 0;
  min-width: 435px;
  position: absolute;
  top: 190px;
}
.group-638 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  min-height: 41px;
  padding: 7.5px 21px;
  width: 48px;
}
.group-638-1 {
  align-items: flex-start;
  display: flex;
  height: 41px;
  margin-left: 12px;
  min-width: 48px;
  padding: 7.5px 18.5px;
}
.group-638-2 {
  align-items: center;
  display: flex;
  height: 41px;
  margin-left: 12px;
  margin-top: 0;
  min-width: 227px;
  padding: 2.1px 0;
}
.group-639 {
  align-items: flex-end;
  display: flex;
  margin-left: 241px;
  min-width: 96px;
}
.group-640 {
  align-items: flex-start;
  display: flex;
  margin-left: 1px;
  margin-top: 23px;
  min-width: 273px;
}
.group-641-4 {
  align-items: center;
  display: flex;
  height: 80px;
  margin-top: 15px;
  min-width: 321px;
  padding: 21px 47.8px;
}
.group-643 {
  align-items: flex-start;
  display: flex;
  height: 288px;
  left: 0;
  min-width: 439px;
  position: absolute;
  top: 0;
}
.group-644 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 123px;
  width: 64px;
}
.group-644-item {
  letter-spacing: 0.7px;
  margin-top: 16px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.group-646 {
  align-items: flex-end;
  display: flex;
  height: 41px;
  min-width: 96px;
}
.group-648 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 49px;
  min-height: 1160px;
  width: 664px;
}
.group-649 {
  align-items: flex-start;
  display: flex;
  height: 621px;
  margin-right: 5px;
  margin-top: 56px;
  min-width: 1444px;
}
.group-650 {
  align-items: center;
  display: flex;
  height: 24px;
  min-width: 51px;
  position: relative;
}
.group-918 {
  align-items: flex-start;
  display: flex;
  height: 80px;
  left: 32px;
  min-width: 371px;
  position: absolute;
  top: 462px;
}
.group-919 {
  align-items: center;
  display: flex;
  height: 80px;
  left: 32px;
  min-width: 369px;
  position: absolute;
  top: 167px;
}
.group-920 {
  align-items: flex-start;
  display: flex;
  height: 80px;
  left: 32px;
  min-width: 373px;
  position: absolute;
  top: 327px;
}
.group-921 {
  align-items: flex-start;
  display: flex;
  height: 798px;
  left: 451px;
  min-width: 443px;
  position: absolute;
  top: 51px;
}
.group-934 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 1983px;
  position: absolute;
  top: 0;
  width: 1449px;
}
.header-5 {
  align-items: flex-start;
  display: flex;
  height: 135px;
  margin-left: 1px;
  min-width: 1448px;
  padding: 44px 53px;
}
.highest-bid {
  height: 12px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 26px;
  width: 63px;
}
.history {
  letter-spacing: 0.7px;
  margin-top: 15px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.icon-material-navigate-next {
  height: 8px;
  left: 367px;
  mix-blend-mode: normal;
  position: absolute;
  top: 498px;
  width: 12px;
}
.icon-material-navigate-next-1 {
  height: 8px;
  left: 367px;
  mix-blend-mode: normal;
  position: absolute;
  top: 363px;
  width: 12px;
}
.info {
  letter-spacing: 0.7px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.learn {
  letter-spacing: 0.8px;
  line-height: 35px;
  margin-left: 22px;
  min-height: 35px;
  min-width: 59px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
}
.line-1 {
  height: 31px;
  margin-left: 45px;
  width: 1px;
}
.line-117 {
  height: 1px;
  width: 477px;
}
.line-119 {
  height: 1px;
  margin-left: 1px;
  margin-top: 19px;
  mix-blend-mode: normal;
  width: 432px;
}
.line-120 {
  height: 1px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 432px;
}
.line-121 {
  height: 1px;
  margin-top: 13px;
  mix-blend-mode: normal;
  width: 656px;
}
.line-122 {
  align-self: center;
  height: 1px;
  margin-right: 8px;
  margin-top: 12px;
  mix-blend-mode: normal;
  width: 1px;
}
.line-123 {
  height: 1px;
  mix-blend-mode: normal;
  width: 1px;
}
.line-124 {
  height: 1px;
  margin-left: 336px;
  mix-blend-mode: normal;
  width: 1px;
}
.line-23 {
  height: 1px;
  left: 32px;
  position: absolute;
  top: 144px;
  width: 369px;
}
.line-24 {
  height: 1px;
  left: 32px;
  position: absolute;
  top: 272px;
  width: 369px;
}
.line-25 {
  height: 1px;
  left: 32px;
  position: absolute;
  top: 566px;
  width: 369px;
}
.line-67 {
  height: 8px;
  left: 10px;
  position: absolute;
  top: 12px;
  width: 8px;
}
.melvin {
  height: 1px;
  margin-left: 0.5px;
  mix-blend-mode: normal;
  width: 1px;
}
.melvin-1 {
  height: 1px;
  margin-left: 2px;
  margin-top: 1.5px;
  mix-blend-mode: normal;
  width: 1px;
}
.melvin-2 {
  height: 11px;
  margin-left: 1px;
  mix-blend-mode: normal;
  width: 42px;
}
.menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 383px;
  min-height: 16px;
  transform: rotate(-90deg);
  width: 16px;
}
.motorcycles-13 {
  letter-spacing: 0.5px;
  line-height: 24px;
  margin-top: 15px;
  min-height: 72px;
  mix-blend-mode: normal;
  width: 658px;
}
.motorcycles-14 {
  letter-spacing: 0.5px;
  line-height: 24px;
  margin-top: 24px;
  min-height: 72px;
  mix-blend-mode: normal;
  width: 658px;
}
.motorcycles-15 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 8px;
  min-height: 30px;
  mix-blend-mode: normal;
}
.motorcycles-16 {
  left: 2px;
  letter-spacing: 0.5px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  top: 251px;
  white-space: nowrap;
}
.motorcycles-17 {
  height: 48px;
  left: 0;
  letter-spacing: 0;
  line-height: 48px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}
.motorcycles-18 {
  height: 18px;
  left: 263px;
  letter-spacing: 0.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  text-decoration: underline;
  top: 18px;
}
.motorcycles-19 {
  height: 48px;
  left: 32px;
  letter-spacing: 0;
  line-height: 48px;
  mix-blend-mode: normal;
  position: absolute;
  top: 32px;
  white-space: nowrap;
}
.motorcycles-20 {
  left: 32px;
  letter-spacing: 1.44px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  top: 112px;
  white-space: nowrap;
  width: 371px;
}
.number-8 {
  letter-spacing: 0;
  min-height: 18px;
  min-width: 19px;
  mix-blend-mode: normal;
  text-align: right;
}
.number-9 {
  color: var(--black);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xxl);
  font-weight: 300;
  letter-spacing: 1px;
  min-height: 30px;
  mix-blend-mode: normal;
}
.overlap-group-5 {
  height: 1983px;
  position: relative;
  width: 1449px;
}
.overlap-group1-7 {
  height: 288px;
  margin-top: 23px;
  position: relative;
  width: 439px;
}
.overlap-group1-8 {
  align-items: flex-start;
  background-color: var(--concrete);
  border-radius: 8px;
  display: flex;
  height: 80px;
  min-width: 369px;
  padding: 20px 24px;
}
.overlap-group2-3 {
  height: 20px;
  margin-bottom: -1px;
  position: relative;
  width: 18px;
}
.overlap-group2-4 {
  height: 288px;
  position: relative;
  width: 435px;
}
.overlap-group2-5 {
  height: 518px;
  position: relative;
  width: 327px;
}
.overlap-group2-6 {
  align-items: flex-start;
  background-color: var(--concrete);
  border-radius: 8px;
  display: flex;
  height: 80px;
  min-width: 369px;
  padding: 23px 24px;
}
.overlap-group3-11 {
  height: 23px;
  margin-top: 7px;
  position: relative;
  width: 175px;
}
.overlap-group3-12 {
  height: 518px;
  margin-left: 12px;
  position: relative;
  width: 327px;
}
.overlap-group4-4 {
  height: 48px;
  position: relative;
  width: 435px;
}
.overlap-group6-1 {
  align-items: flex-start;
  background-color: var(--cararra-2);
  display: flex;
  height: 656px;
  justify-content: flex-end;
  min-width: 656px;
  padding: 16px 14px;
}
.overlap-group7 {
  align-items: flex-end;
  background-color: var(--cultured-pearl);
  display: flex;
  flex-direction: column;
  min-height: 621px;
  padding: 40px 44px;
  position: relative;
  width: 1440px;
}
.overlap-group9 {
  height: 798px;
  position: relative;
  width: 445px;
}
.owner {
  align-self: flex-end;
  height: 1px;
  mix-blend-mode: normal;
  width: 1px;
}
.place-4 {
  color: #1c1c1c;
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xxl);
  font-weight: 300;
  letter-spacing: 1px;
  margin-left: 140px;
  min-height: 30px;
  min-width: 51px;
  mix-blend-mode: normal;
  text-align: right;
}
.rectangle-383 {
  background-color: var(--white);
  height: 288px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 432px;
}
.rectangle-703 {
  height: 798px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 433px;
}
.rectangle-704-3 {
  background-color: var(--cararra);
  height: 80px;
  mix-blend-mode: normal;
  width: 80px;
}
.rectangle-737 {
  height: 1px;
  left: 70px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 1px;
}
.rectangle-738 {
  height: 1px;
  left: 70px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}
.rectangle-744 {
  background-color: var(--blaze-orange);
  height: 2px;
  margin-top: 2px;
  mix-blend-mode: normal;
  width: 28px;
}
.rectangle-753-3 {
  background-color: var(--black-2);
  height: 899px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 1440px;
}
.service-fee {
  letter-spacing: 0.5px;
  margin-top: 16px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.sign-up-button-2 {
  border-radius: 16px;
  height: 48px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 433px;
}
.span0 {
  letter-spacing: 0.07px;
}
.span1 {
  letter-spacing: 0.07px;
  text-decoration: underline;
}
.subtotal {
  letter-spacing: 0.5px;
  min-height: 18px;
  mix-blend-mode: normal;
}
.text-15 {
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 16px;
  margin-top: 4px;
  min-height: 35px;
  min-width: 306px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.title {
  letter-spacing: 1.44px;
  min-height: 15px;
  min-width: 73px;
  mix-blend-mode: normal;
  text-align: right;
}
.title-1 {
  letter-spacing: 1.44px;
  margin-top: 19px;
  min-height: 15px;
  min-width: 73px;
  mix-blend-mode: normal;
  text-align: right;
}
.title-2 {
  color: var(--ebony-clay);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 1.92px;
  margin-top: 18px;
  min-height: 20px;
  min-width: 96px;
  mix-blend-mode: normal;
  text-align: right;
}
.to {
  left: 32px;
  letter-spacing: 1.44px;
  mix-blend-mode: normal;
  position: absolute;
  top: 431px;
}
.to-1 {
  left: 32px;
  letter-spacing: 1.44px;
  mix-blend-mode: normal;
  position: absolute;
  top: 296px;
}
.total {
  letter-spacing: 1.44px;
  margin-top: 20px;
  min-height: 15px;
  mix-blend-mode: normal;
}
.ui-close-large-black-1 {
  background-size: 100% 100%;
  height: 16px;
  left: 385px;
  position: absolute;
  top: 48px;
  width: 16px;
}
.x0005-eth-21477 {
  left: 1px;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 48px;
}
.x02-eth-21477 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 16px;
  min-height: 23px;
}
.x10-of-sales-will-go-to-creator {
  align-self: flex-end;
  height: 12px;
  margin-left: 10px;
  mix-blend-mode: normal;
  width: 167px;
}
