.accordion-black {
  background-size: 100% 100%;
  height: 12px;
  margin-bottom: 0;
  width: 12px;
}
.avatar {
  background-color: var(--mist-gray);
  border-radius: 14.5px;
  height: 29px;
  left: 54px;
  mix-blend-mode: normal;
  position: absolute;
  top: 53px;
  width: 29px;
}
.blue-tint-mask {
  height: 900px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 1440px;
}
.connect-your-wallet {
  height: 48px;
  left: 276px;
  letter-spacing: 0;
  line-height: 48px;
  mix-blend-mode: normal;
  position: absolute;
  top: 136px;
  white-space: nowrap;
}
.connectwalletpage {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 900px;
  mix-blend-mode: normal;
  overflow: hidden;
  width: 1440px;
}
.divider-1 {
  height: 1px;
  left: 276px;
  position: absolute;
  top: 312px;
  width: 597px;
}
.divider-2 {
  height: 1px;
  left: 276px;
  position: absolute;
  top: 384px;
  width: 597px;
}
.divider-3 {
  height: 1px;
  left: 276px;
  position: absolute;
  top: 456px;
  width: 597px;
}
.divider-4 {
  height: 1px;
  left: 276px;
  position: absolute;
  top: 528px;
  width: 597px;
}
.divider-5 {
  height: 1px;
  left: 276px;
  position: absolute;
  top: 600px;
  width: 597px;
}
.meta-mask {
  left: 343px;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 336px;
}
.meta-mask-logo {
  height: 40px;
  left: 276px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 328px;
  width: 40px;
}
.overlap-group {
  height: 904px;
  position: relative;
  width: 1440px;
}
.portis {
  left: 343px;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 480px;
}
.portis-logo {
  height: 40px;
  left: 276px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 472px;
  width: 40px;
}
.show-more {
  letter-spacing: 0.7px;
  margin-left: 12px;
  min-height: 18px;
  min-width: 84px;
  mix-blend-mode: normal;
}
.show-more-button {
  align-items: center;
  display: flex;
  height: 18px;
  left: 276px;
  min-width: 108px;
  position: absolute;
  top: 632px;
}
.side-image {
  height: 900px;
  left: 1069px;
  position: absolute;
  top: 4px;
  width: 371px;
}
.span {
  letter-spacing: 0.13px;
}
.text-1 {
  left: 276px;
  letter-spacing: 0.8px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  top: 200px;
  width: 599px;
}
.text-2 {
  left: 275px;
  letter-spacing: 0.5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 682px;
  width: 600px;
}
.tool-tip {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  height: 24px;
  left: 423px;
  mix-blend-mode: normal;
  padding: 0 8.5px;
  position: absolute;
  top: 236px;
  width: 24px;
}
.torus {
  left: 343px;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 408px;
}
.torus-logo {
  height: 40px;
  left: 276px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 400px;
  width: 40px;
}
.wallet-connect {
  left: 343px;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 552px;
}
.wallet-connect-logo {
  height: 40px;
  left: 276px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 544px;
  width: 40px;
}
.x {
  color: var(--white);
  font-family: var(--font-family-sharp_sans_no1-bold);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 1.75px;
  min-height: 22px;
  mix-blend-mode: normal;
  width: 5px;
}
