.accordion-black-8 {
  background-size: 100% 100%;
  height: 12px;
  margin-bottom: 0;
  width: 12px;
}
.desktop-31 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 900px;
  mix-blend-mode: normal;
  overflow: hidden;
  width: 1440px;
}
.ellipse-2-5 {
  background-color: var(--mist-gray);
  border-radius: 14.5px;
  height: 29px;
  left: 54px;
  mix-blend-mode: normal;
  position: absolute;
  top: 53px;
  width: 29px;
}
.ellipse-92 {
  height: 40px;
  left: 276px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 328px;
  width: 40px;
}
.ellipse-93 {
  height: 40px;
  left: 276px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 400px;
  width: 40px;
}
.ellipse-94 {
  height: 40px;
  left: 276px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 472px;
  width: 40px;
}
.ellipse-95 {
  height: 40px;
  left: 276px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 544px;
  width: 40px;
}
.group-927-4 {
  align-items: center;
  display: flex;
  height: 18px;
  left: 276px;
  min-width: 108px;
  position: absolute;
  top: 632px;
}
.line-16 {
  height: 1px;
  left: 276px;
  position: absolute;
  top: 312px;
  width: 597px;
}
.line-17 {
  height: 1px;
  left: 276px;
  position: absolute;
  top: 384px;
  width: 597px;
}
.line-18 {
  height: 1px;
  left: 276px;
  position: absolute;
  top: 456px;
  width: 597px;
}
.line-19 {
  height: 1px;
  left: 276px;
  position: absolute;
  top: 528px;
  width: 597px;
}
.line-20 {
  height: 1px;
  left: 276px;
  position: absolute;
  top: 600px;
  width: 597px;
}
.mask-group {
  height: 900px;
  left: 1069px;
  position: absolute;
  top: 4px;
  width: 371px;
}
.motorcycles-4 {
  height: 48px;
  left: 276px;
  letter-spacing: 0;
  line-height: 48px;
  mix-blend-mode: normal;
  position: absolute;
  top: 136px;
  white-space: nowrap;
}
.motorcycles-5 {
  left: 343px;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 336px;
}
.motorcycles-6 {
  left: 343px;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 408px;
}
.motorcycles-7 {
  left: 343px;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 480px;
}
.motorcycles-8 {
  left: 343px;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 552px;
}
.overlap-group-2 {
  height: 904px;
  position: relative;
  width: 1440px;
}
.rectangle-753-1 {
  height: 900px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 1440px;
}
.show-more {
  letter-spacing: 0.7px;
  margin-left: 12px;
  min-height: 18px;
  min-width: 84px;
  mix-blend-mode: normal;
}
.span {
  letter-spacing: 0.13px;
}
.text-12 {
  left: 276px;
  letter-spacing: 0.8px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  top: 200px;
  width: 599px;
}
.text-13 {
  left: 275px;
  letter-spacing: 0.5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 682px;
  width: 600px;
}
.tool-tip {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  height: 24px;
  left: 423px;
  mix-blend-mode: normal;
  padding: 0 8.5px;
  position: absolute;
  top: 236px;
  width: 24px;
}
.x-5 {
  color: var(--white);
  font-family: var(--font-family-sharp_sans_no1-bold);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 1.75px;
  min-height: 22px;
  mix-blend-mode: normal;
  width: 5px;
}
